[2015-01-02 06:53] zhengxwen opened #28 "BiocCheck is not compatible with 'Authors@R' in DESCRIPTION"
Fields ‘Author’ and ‘Maintainer’ are auto-generated from ‘Authors@R’, but R indents the lines with 2 spaces instead of 4.

[2015-01-02 06:54] dtenenba commented on #28
Please supply an example, link to a package that causes this. Also, it doesn't sound from your description like this is actually a problem; if the lines are indented 2 spaces, is that not still a valid DESCRIPTION file?

[2015-01-02 09:20] zhengxwen commented on #28
There is nothing wrong with R and BiocCheck themselves. For example, I have a package [foo (https://dl.dropboxusercontent.com/u/51499461/tmp/foo_1.0.0.tar.gz)](https://dl.dropboxusercontent.com/u/51499461/tmp/foo_1.0.0.tar.gz)

The original DESCRIPTION in my folder is (no fields ‘Author’ and ‘Maintainer’):
[code]

After I run `R CMD build foo`, the fields ‘Author’ and ‘Maintainer’ are auto-generat

[2015-01-02 17:42] #28 closed

[2015-01-07 20:02] nhayden commented on #30
Maybe I misunderstand, but I think `License: GPL (>= 2)` is given as an example of a standardized license specification in R-exts 1.1.2

[2015-01-07 20:05] dtenenba commented on #30
You're right. If R-exts says it's valid, I guess it is. According to [the wikipedia page for GPL](https://en.wikipedia.org/wiki/GNU_General_Public_License), GPL-1 -2 -3 are actually successive versions of the same license.

[2015-01-07 20:56] mrjc42 commented on #30
So GPL-2 is effectively the same as GPL-3?

[2015-01-07 20:58] dtenenba commented on #30
No, they are different: https://en.wikipedia.org/wiki/GNU_General_Public_License#Version_2 https://en.wikipedia.org/wiki/GNU_General_Public_License#Version_3

[2015-01-07 21:00] mrjc42 commented on #30
Wait really?  So then if you specify GPL>=2, which license does it specifically refer to:  GPL-2 or GPL-3?

[2015-01-07 21:07] dtenenba commented on #30
I guess you are saying either one. Which brings us back to the original problem. But R-exts allows this, so I hesitate to make it a bad thing. Maybe a NOTE. I'll reopen.

[2015-01-07 21:26] mrjc42 commented on #30
Well I really am just asking questions.  I am not a lawyer so I don't really know what will happen if it ever ends up in a courtroom.  I just worry that in order to be protected by a license you would presumably have to specify an actual specific license (as opposed to a range of potential licenses).

So if saying 'GPL-2' was actually equivalent to saying 'GPL3' (IOW if it just refers to the 'late

[2015-01-09 21:33] nhayden commented on #30
[This matrix](https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#GPLCompatibilityMatrix) includes the "I want to release a project under GPL-X" coupled with "I want to (use code | link to a library) from a project licensed under GPL-X" and it has GPL-X 'or later' clauses

[2015-01-09 21:46] dtenenba commented on #30
tl;dr

[2015-01-10 00:45] mrjc42 commented on #30
OMG that matrix is AWFUL.  Seeing that makes we almost wonder if we should be allowing people to use GPL at all.  That's probably not ever going to be a practical option, but what a cluster.

[2015-02-26 05:37] dtenenba opened #32 "BiocCheck requires a 'vignettes' directory for an Infrastructure package"
@hpages  reports:

Hi Dan,

BiocCheck wants a 'vignettes' directory in ProtGenerics_0.99.0.tar.gz:

   hpages@latitude:~$ R-3.2 CMD BiocCheck ProtGenerics_0.99.0.tar.gz
   * This is BiocCheck, version 1.3.7.
   * BiocCheck is a work in progress. Output and severity of issues may
     change.
   * Installing package...
   * This is a software package, checking vignette directories...
       * REQUI

[2015-02-26 06:42] dtenenba opened #33 "phrasing"
@hpages reports:

Thanks. Also I still have a problem with this:

* Checking unit tests...
     * CONSIDER: Adding unit tests.  We strongly recommend them. See

http://www.bioconductor.org/developers/how-to/unitTesting-guidelines/.

I don't know if the severity should be raised to RECOMMENDED or
if the phrasing should be changed so you don't say "We strongly
*recommend* them" or... but something s

[2015-02-26 06:46] #33 closed

[2015-02-27 19:56] dtenenba opened #35 "check that package does not already exist on CRAN"
reported by @hpages
Dan says: Maybe also check (if --new-package is turned on, the default in the single package builder) if the package exists already in Bioconductor.

[2015-02-27 21:44] #35 closed

[2015-02-27 22:08] #32 closed

[2015-02-28 00:46] dtenenba commented on #27
I think is is fixed. Need to verify.

[2015-04-28 17:57] dtenenba commented on #43
For example, if the objects were initialized via loading something with data(), I don't know how that can be "clarified". Seems like this code was originally written in cases where it was possible to clarify, but I can't exactly remember what/how right now....so either remove this or provide more useful instructions.

[2015-05-05 04:19] dtenenba commented on #44
huh, this is supposed to be filed against the support site, not BiocCheck...

[2015-09-30 18:35] b-long opened #2 "BiocCheck should fail fast when the server does't return an HTTP 200"
Rather than doing an early return at this line : https://github.com/Bioconductor/BiocCheck/blob/master/R/checks.R#L1133 , it would be better for the check to error (as it is a true error condition for the build system to not be authenticated).  This function will not run if it's invoked from a user's machine, since the [`BIOC_DEVEL_PASSWORD` environment variable is not defined](https://github.com/

[2015-09-30 18:36] b-long commented on #2
Actually, that's wrong, since it's for any non-200 response it should message appropriately.  I'll address that in my PR.

[2015-09-30 18:41] jimhester commented on #2
See http://rpackages.ianhowson.com/cran/httr/man/http_condition.html for handling multiple response conditions.

But in this case just calling `httr::stop_for_status()` is probably fine.

[2015-09-30 18:42] b-long commented on #2
Is there an advantage?  Why not use something like this :

[code]

?

[2015-09-30 18:45] jimhester commented on #2
Not really any advantage,  your example seems fine

[2015-10-02 17:08] b-long commented on #2
As mentioned on Trello, this bug is currently affecting the build of a new package (metagenomeFeatures) on perceval: http://bioconductor.org/spb_reports/metagenomeFeatures_0.99.3_buildreport_20150930114959.html#perceval_check_anchor

[2015-10-06 15:53] #2 closed, assigned to nobody

[2015-11-17 19:22] jimhester opened #4 "make sure vignette would be built by `R CMD build`"

[2015-11-17 23:26] b-long commented on #4
:+1:

[2015-12-09 15:46] jimhester opened #5 "Rcpp packages still triggering registered routine check."
Dan made a commit to attempt to disable this check for packages using Rcpp [BiocCheck@ef3fff5fbb](https://github.com/Bioconductor/BiocCheck/commit/ef3fff5fbb1c518bac529985823336a3fd9a12fe) But this ends up not working because most Rcpp using packages use `Rcpp::compileAttributes()` and this generates a RcppExports.R file which contains `.Call()`. So in practice Rcpp packages still get this check a

[2015-12-09 17:46] vobencha commented on #5
I second demoting this check to CONSIDER in BiocCheck.

[2016-02-01 20:08] dtenenba commented on #4
Actually, it's a bit more complicated than that, so I may rename the issue to capture some of the additional complexity. There are several possible causes for packages which appear to have vignettes but in which vignettes are not built when you run `R CMD build`.

Usually this is due to missing `Suggests` dependencies, missing `VignetteEngine` field in `DESCRIPTION` file, and/or missing/incorrect

[2016-02-21 01:05] dtenenba opened #6 "better checking to see if package has unit tests - are they run by R CMD check?"
BiocCheck just checks to see if there is a tests/ directory. However there is more that is required to make sure that tests are run during `R CMD check`. For example: https://tracker.bioconductor.org/issue1376 has a tests/ directory but no testthat.R file in that directory. And in tests/testthat there is a testthat.R file when there should be test_*.R files.

[2016-02-21 01:52] dtenenba opened #7 "NEWS checking not working?"
NEWS checking does not catch NEWS files that are not properly formatted, in, for example:
https://tracker.bioconductor.org/issue1372
https://tracker.bioconductor.org/issue1376

[2016-02-23 19:38] #6 closed, assigned to dtenenba

[2016-02-23 22:37] dtenenba commented on #4
Looks like there is still an example that fails after this fix.

https://tracker.bioconductor.org/issue1390
https://tracker.bioconductor.org/file7084/nucleoSim_0.99.4.tar.gz

This does not indicate an error:

[code]

The problem in this case is that they have this in DESCRIPTION:

[code]

And this in the vignette:

[code]

IOW, referencing two different packages. Too bad that R does not detect thi

[2016-02-23 22:48] dtenenba commented on #4
Just for more context--with version 0.99.3 of nucleoSim, the new code worked as expected:

[code]

[code]

If you then add in the line

[code]

To the vignette yaml preamble, the code stops working even though it's still wrong (wrong in such a way that the vignette is not built on `R CMD build`).
So it seems like `pkgVignettes()` checks for that `%\VignetteEngine` line but does not check its corre

[2016-02-24 14:03] jimhester commented on #4
`rmarkdown::render` is wrong because it is not a registered vignette engine. The rmarkdown package does not register any vignette engines itself.

The only way to know if a given vignette is non-Sweave is to look for the `%\VignetteEngine{}` metadata line. Looking in the `DESCRIPTION` won't work because a given package could use multiple different vignette engines for different vignettes, includin

[2016-03-10 00:55] #4 closed, assigned to dtenenba

[2016-03-11 20:34] dtenenba opened #8 "not catching incorrect biocViews"
The AneuFInderData package (https://tracker.bioconductor.org/issue1397), specifically the version from
2016-03-11.05:39:49, has these biocViews:

[code]

ExperimentData is valid but the others are all under Software. BiocCheck is supposed to detect this.

This build report does not report it:

https://bioconductor.org/spb_reports/AneuFinder_0.99.1_buildreport_20160311143437.html#zin2_check_anchor

[2016-03-15 16:53] #8 closed, assigned to nobody

[2016-03-26 18:12] dtenenba opened #9 "try to detect wrong setup for non-Sweave vignettes"
Example: https://tracker.bioconductor.org/issue1443
Affected tarball: https://tracker.bioconductor.org/file7436/MMDiff2_0.99.0.tar.gz

It's a knitr vignette but the DESCRIPTION file does not have the
`VignetteBuilder: knitr` line in it.

So when BiocCheck tries to Stangle the vignette (prior to parsing its code)  it crashes because it is expecting an Sweave vignette.

However, the vignette does ha

[2016-03-29 17:45] dtenenba opened #10 "add flags to point to build/check output files?"
A lot can be learned from the output of `R CMD build` and `R CMD check`; for example, whether the vignette is built, whether unit tests are run, and so on. In the context of the single package builder, the output of these commands is readily available so we could pass the filenames to `BiocCheck` so that it could do additional checks. The .Rcheck directory is also available....

[2016-04-06 18:16] dtenenba opened #11 "make sure maintainer email address has name (first, last) associated with it"
This should be REQIURED.

@mtmorgan

[2016-05-17 22:00] dtenenba opened #12 "Detect mis-use of Suggests:"
If in the `DESCRIPTION` file a package has

[code]

And then somewhere in package code (`R/*.R`) they do something like this:

[code]

The package code might fail because `Suggests` dependencies are not installed by default.
This problem could be masked if the `foo` package just happens to be installed on the build system. But then it could bite the end user who does not have it installed.

Oftent

[2016-05-17 22:12] dtenenba commented on #12
Really, the use of `Suggests` in the title/description of this issue is a bit misleading. It doesn't matter if a package is declared in Suggests, Enhances, LinkingTo, or elsewhere, what matters is the use of `::` when the package on the left side of the `::` is NOT in `Imports` or `Depends`. That's what `BiocCheck` should check for.

[2016-05-17 22:37] dtenenba commented on #12
One more comment--actually the mention of `Suggests` is relevant, because the build system will install `Suggests` dependencies, but the end user (using `biocLite()`) will not. So the build system will _always_ mask this problem, so `BiocCheck` should address it.

[2016-09-24 17:55] amcdavid opened #14 "checkForBadDepends triggers false positive REQUIRED fixes"
Please see pull request #13

[2016-10-19 16:26] nuno-agostinho opened #15 "Check vignette title"
BiocCheck should confirm the vignette title. For instance, I copied the vignette header from a [template](https://www.bioconductor.org/packages/devel/bioc/vignettes/BiocStyle/inst/doc/HtmlStyle.html) and I did not notice that the vignette title was set with the line `%\VignetteIndexEntry{Vignette Title}`.

I have seen other packages with such titles and I'm sure there are more people like me that

[2017-01-02 10:09] llrs commented on #43
I am now considering to clarify an object but I don't know how to clarify an object reference. If it is not removed, could someone provide some help/guidance about how to clarify an object origin?

[2017-01-02 10:15] llrs opened #16 "Clarifying objects initialized"
There is an old issue Bioconductor/biocCheck.old#43 I found today.
It changed to a NOTE in the latest version:
[code]

What is the meaning of this "Consider clarifying how object ‘y’ (used in X) was initialized"? How can it be clarified?

[2017-01-03 00:59] mtmorgan commented on #43
Ask on the [Bioc-devel](https://stat.ethz.ch/mailman/listinfo/bioc-devel) mailing list (you'll have to subscribe, but you'll do that anyway when submitting the package) and provide some information about the object that is causing this note.

[2017-01-03 11:03] llrs commented on #43
@mtmorgan I posted an issue on the bioconductor BiocCheck repository. But for submitting it to the mailing list, I will wait a little, in case I manage to avoid parallel computing (with foreach) by doing SQLite queries.

[2017-01-03 13:12] mtmorgan commented on #43
I'll close the issue and delete this repository.

[2017-01-03 13:31] mtmorgan commented on #16
@llrs indicated elsewhere that he'd post any followup to bioc-devel.

[2017-01-03 13:31] #16 closed, assigned to nobody

[2017-06-20 14:54] MalgorzataOles opened #17 "Error when a vignette fragment is imported through 'child=' code chuck option"
Hi,

I'm encountering problems during BiocCheck, which are likely caused by the functions not finding vignette files. In the package I have a master vignette which serves as skeleton for including parts placed in "src" subfolder by using `child=` code chunk option. BiocCheck fails during line `parsedCode <- parseFiles(package_dir)`. The linked [toy example](https://oc.embl.de/index.php/s/YcTzWhUtR

[2017-09-08 11:26] catavallejos opened #18 "Checking maintainer subscription to BioC developers mailing list"
Hi Kevin,

Great package! Very useful prior to my BioC submission. Just one suggestion to add:

The current checks do not seem to verify whether the maintainer is subscribed to the BioC developers mailing list (please do correct me if I am wrong!). Maybe you can add that as a default check? It's the only thing that prevented BASiCS from building after I submitted the package.

Best

Cata

[2017-09-08 19:08] #18 closed, assigned to nobody

[2017-09-14 14:44] aoles opened #19 "WARNING with empty/missing \value section in man pages describing data sets"
A warning is issued for a man page describing data objects when it doesn't contain a non-empty \value section.
[code]
According to "Writing R Extensions" [Section 2.1.2 *Documenting data sets*](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Documenting-data-sets):

Therefore, a \value section on a data man page shouldn't be enforced. In fact, even the template produced by a call to `

[2017-09-14 15:02] aoles commented on #19
Resolved through properly annotating data set man pages with \docType{data}.

[2017-09-14 15:02] #19 closed, assigned to nobody

[2017-09-14 17:43] LiNk-NY opened #20 "BiocCheck should not be a Bioc-mirror fork"
There should be no forks coming out of Bioconductor-mirror.
The mirror is deprecated.

Please update the `BiocCheck` repository in the git server if there are any differences
and use the git server repository version to create a new repository under
the Bioconductor account.

Thanks!

Regards,
Marcel

[2017-09-14 19:17] mtmorgan commented on #20
it's true that the repository forked from the mirror, but that is a historical tag. I could remove this repository and start a new one, with identical content, but then I'd loose the issues and other github activities, and I wouldn't be able to close this issue!

[2017-09-18 03:47] LiNk-NY commented on #20
I agree but when we recommend against using the Bioconductor-mirror, we should follow our own recommendations :smile:

[2017-09-18 11:14] #20 closed, assigned to nobody

[2017-10-05 07:54] sgibb commented on #17
Same problem here. There reason seems to be that `parseFile` copies the vignette into a temporary directory but doesn't copy the included files:
https://github.com/Bioconductor/BiocCheck/blob/fed2f4da4d1c3dac9f6e30cecb2911bc28b75e62/R/util.R#L165-L173

[2017-10-18 08:01] assaron opened #21 "Misleading error message for documentation check"
One of the error messages that BiocCheck can spit out is: "At least 80% of man pages documenting exported objects must have runnable examples".

However, the actual assert is that _more_ than 80% of exported objects should be covered: https://github.com/Bioconductor/BiocCheck/blob/master/R/checks.R#L950

Additionally, I would suggest to change this check when there are small number of functions ex

[2017-10-18 16:20] LiNk-NY commented on #21
I agree with this, especially for experiment data packages.

[2018-02-15 16:52] lshep commented on #21
This is resolved in BiocCheck_1.15.3.  The check has been updated to be for 80% or more.

After speaking with the team we still feel like special allowances for small number of exported functions should not be allowed.  If there are only a small number of functions than we feel it is even more imperative to accurately display usage through runnable examples;  experiment data packages runnable exam

[2018-02-15 16:52] #21 closed, assigned to lshep

[2018-02-15 17:36] lshep commented on #14
In reviewing the code changes, I believe most of these changes have made it into Bioconductor.

[2018-02-15 17:36] #14 closed, assigned to nobody

[2018-02-20 16:37] #12 closed, assigned to nobody

[2018-02-20 16:41] lshep commented on #10
Nice idea!  Don't think we will be implementing any changes on this in the near future beyond what is already printed for the SPB output in build report.

[2018-02-20 16:41] #10 closed, assigned to nobody

[2018-02-22 16:28] lshep commented on #11
These are checked - updating message to be more clear

[2018-02-22 16:28] #11 closed, assigned to lshep

[2018-02-23 18:41] lshep commented on #7
This check has already been implemented

[2018-02-23 18:41] #7 closed, assigned to lshep

[2018-02-26 18:05] lshep commented on #15
Checked in version >= 1.15.6

[2018-02-26 18:05] #15 closed, assigned to lshep

[2018-03-02 14:42] lshep commented on #9
Implemented in version > 1.15.7

[2018-03-02 14:42] #9 closed, assigned to lshep

[2018-04-17 16:48] LiNk-NY opened #22 "Warn when using default `eval=FALSE` setup"
The user should get a warning when using `eval = FALSE` in a `knitr` setup chunk such as:
[code]

Regards,
Marcel

[2018-05-17 18:32] LiNk-NY opened #23 "BiocCheck should run as an empty function"
This means setting the default `package` argument should be "."

[2018-05-18 11:48] lshep commented on #22
Should be fixed in Version 1.17.4

[2018-05-18 11:48] #22 closed, assigned to lshep

[2018-05-23 16:24] LiNk-NY opened #24 "Error when checking examples with `\dontrun`"
Hi Lori, @lshep
I get an error when using `BiocCheck` on my package:
[code]
The package and error line / file can be found here:
https://github.com/Bioconductor/RaggedExperiment/blob/master/inst/scripts/assay-functions-Ex.R#L12

Thanks!
Marcel

[2018-05-23 16:58] #24 closed, assigned to nobody

[2018-05-23 20:31] #23 closed, assigned to LiNk-NY

[2018-05-24 18:00] LiNk-NY opened #26 "object (function) order"
Hi Lori, @lshep

I was wondering if this order should be reversed.
I'm used to seeing the function first and the object contained within.
To me it would make more sense to have a `NOTE` like this:
[code]
read as:
[code]

**OR** have the note read differently:

[code]

Regards,
Marcel

[2018-06-01 16:21] lshep commented on #5
I think this is resolved

[2018-06-01 16:21] #5 closed, assigned to lshep

[2018-06-06 16:34] lshep opened #27 "system file check"
Have a system file check for files that should not be included in the directory (.o / .so / .dll / etc)  -  Move from python implemented code in SPB

[2018-06-20 15:31] #26 closed, assigned to lshep

[2018-06-22 22:20] plantarum opened #29 "Avoid 1:...; false positive on hard-coded ranges"
I understand the rationale behind discouraging `1:variable` or `1:function(variable)`, but there are some instances where I know that I want the first (or last, or ...) n elements of a vector or list. In my code I have:

[code]

This raises the flag, suggesting you'd prefer I use `intensity[seq_len(5)]`? I think in this case `1:5` is both safe and more easily understood than the alternative? Is it

[2018-06-23 17:38] LTLA opened #30 "False positive with system()"
In _scran_, I have a function named `.create_linear_system()`. _BiocCheck_ 1.17.11 flags this as:

[code]

Seems like a simple fix - just check that "`system(`" isn't preceded by valid name characters.

[2018-06-25 11:36] lshep commented on #30
Thanks for the report I'll look into this asap.

[2018-06-25 12:45] #30 closed, assigned to lshep

[2018-06-25 12:53] lshep commented on #29
In general it is still better practice when subset vectors or lists to have
named vectors and lists and subset accordingly rather than relying on arbitrary
ordering. We won't change the currently implementation as in the majority of
cases it is better practice to use seq_len to catch unforeseen edge cases.  It
will be up to the reviewer of your package to decide if your use case would
warrant an e

[2018-06-25 12:53] #29 closed, assigned to nobody

[2018-06-27 11:36] c-mertes opened #31 "Failed BiocCheck when using knitr Engine in rnw vignette"
I encountered problems with the new BiocCheck version in the devel branch.

In the release version it is running through with no problems. in the devel version it stops with the following error:

[code]
For more details I have our package on travis, where the error message can be checked.
https://travis-ci.org/gagneurlab/OUTRIDER/builds/397133569

I tracked it down to the function call
`BiocCheck

[2018-06-27 11:38] c-mertes commented on #31
This change solved my problem locally.

[2018-06-27 11:43] lshep commented on #31
do you have a github link to your package that I might test it out more thoroughly?   Also did you specify the VignetteEngine and VignetteBuilder in the DESCRIPTION and the vignette?

[2018-06-27 11:55] c-mertes commented on #31
This is our github package: https://github.com/gagneurlab/OUTRIDER
I have both set:
[DESCRIPTION-file: VignetteBuilder: knitr](https://github.com/gagneurlab/OUTRIDER/blob/master/DESCRIPTION#L26)
[Vignette-file: %\VignetteEngine{knitr::knitr}](https://github.com/gagneurlab/OUTRIDER/blob/master/vignettes/OUTRIDER.Rnw#L3)

[2018-06-27 11:58] lshep commented on #31
Thank you; we appreciate you reporting this.  I'll look into this and your pull request.

[2018-06-27 13:24] #31 closed, assigned to lshep

[2018-06-27 13:25] lshep commented on #31
Thank you!

[2018-06-27 14:26] c-mertes commented on #31
I realised just now by reading the BiocStyle vignette that the regex can match multiple times. And the last commit will let BiocStyle fail.

We are interested only in the first occurrence of the VignetteEngine. I found the `vigHelper` function, which makes the code cleaner and there we can check only against the first occurrence of it.

Hope this solves the problem.

[2018-06-27 14:39] lshep commented on #31
This is actually a very specific case because BiocStyle describes how to set up the vignette header information -   part of BiocCheck is that only one VignetteEngine is specified in the vignette and will have an ERROR if it is.  But it does make the check better so thank you for your diligence.

[2018-07-02 22:23] LiNk-NY opened #34 "BiocCheck exit code"
Hi Martin and Lori, @mtmorgan @lshep

I've integrated Travis-CI with `BiocCheck` but I'm still having issues getting an non-zero exit code
when running `BiocCheck` via `Rscript`:

[code]
the return code is
[code]
when it should be a `1`.

The exit code works okay via `R CMD BiocCheck`.

Regards,
Marcel

[2018-07-03 10:47] mtmorgan commented on #34
in the spirit of it all, can you make a better reproducible example, i.e., one that runs quickly and is guaranteed to always show the problematic behavior?

[2018-07-03 15:33] LiNk-NY commented on #34
Hi Martin, @mtmorgan
I took a few minutes to create a better reproducible example.
I created a dummy package where this issue is isolated for the most part.
It runs much faster.

[code]

Regards,
Marcel

[2018-07-03 16:58] LiNk-NY commented on #34
Travis build result is here https://travis-ci.org/LiNk-NY/TestPkg/builds/399663256

[2018-07-03 17:11] lshep commented on #34
@mtmorgan I'm wondering if it has to do with BiocCheck when run from command line quits with status code but  otherwise returns the list of detailed messages https://github.com/Bioconductor/BiocCheck/blob/master/R/BiocCheck.R#L236

@LiNk-NY do we care about warnings? are they considered passing? Does travis pick up on a different code for warnings that we should be outputting as well?

[2018-07-03 18:28] LiNk-NY commented on #34
@lshep Warnings can be converted to errors in the `.travis.yml` file with the `warnings_are_errors: true` option. I'm not sure how that mechanism works though.

[2018-07-03 18:37] mtmorgan commented on #34
this is what BiocCheck itself does
[code]
and
[code]
returns an error return code; I don't think we want to change the interactive behavior

[2018-07-03 19:05] LiNk-NY commented on #34
@mtmorgan
`noquote(readLines(R.home("bin/BiocCheck")))`
Wouldn't this be equivalent to `bioc-dev CMD BiocCheck .` ?

It seems to me that the `Rscript` call is not being interpreted as a command line call?
Therefore I should use something like:

[code]
Looks a bit clunky but it works.

[2018-07-05 11:42] lshep commented on #34
So have we decided the behavior shoudn't be changed and this issue can be closed?   Should I (do you think it would be helpful to)  make any documentation about this in the vignette?

[2018-07-05 13:11] mtmorgan commented on #34
It seems like Rscript things that it is not running interactively, and so BiocCheck should I think exit accordingly --
[code]
probably by augmentig the final `if(interactive() || ...)` in `BiocCheck()`.

[2018-07-05 15:55] LiNk-NY commented on #34
Okay, I can make this change and send a PR. Thanks Martin @mtmorgan

[2018-07-05 16:33] LiNk-NY commented on #34
@lshep I don't think we need to document this behavior as the recommended way of using `BiocCheck` is via the command line `R CMD BiocCheck .`.
I will add a tidbit about `BiocCheck` being supported via Travis-CI.

[2018-07-05 16:36] lshep commented on #34
Thanks

[2018-07-20 17:20] #27 closed, assigned to lshep

[2018-07-20 17:55] #34 closed, assigned to LiNk-NY

[2018-10-08 15:11] llrs opened #36 "Error"
See this [submission](https://github.com/Bioconductor/Contributions/issues/900#issuecomment-427732605) where the issue was raised.

This is related  to this helper file, which unexpectedly returns more than one element (perhaps this should be separate function?):
https://github.com/Bioconductor/BiocCheck/blob/6fa591de155281b071e47042369688b3b62c8f6c/R/checks.R#L227-L236

It could be solved via by

[2018-10-09 13:23] lshep commented on #36
Thank you for reporting this -  I will look into adding a check that the vignetteEngine is only specified once and into the suggested all()  addition because as you pointed out having more than one Engine specified is also a mistake.

[2018-10-09 15:53] mtmorgan opened #37 "Workflow should not be mixed with biocViews terms from other hierarchies"
... at least I think that is what is going on here https://github.com/Bioconductor/Contributions/issues/845, e.g., where 'Workflow' is combined with multiple terms from the Software hierarchy.

[2018-10-09 16:02] lshep commented on #37
hmm... interesting -  I thought that should've already been caught so I'll look into it

[2018-10-09 16:17] #37 closed, assigned to lshep

[2018-11-21 11:03] WT215 opened #38 "Could not run BiocCheck"
Hello,

When I tried to use BiocCheck to check the package, I got the following error (By the way, I am using Win10, not sure whether this is a cause):

[code]

The `Check Package` command provided by RStudio works ok.

How to solve this?

Thanks a lot!

[code]

[2018-11-21 11:15] mtmorgan commented on #38
Do you have [Rtools][] installed on your PATH?

[Rtools]: https://cran.r-project.org/bin/windows/Rtools/

[2018-11-21 11:33] WT215 commented on #38
Hi @mtmorgan , yes I installed Rtools. I also tried to git clone the package into a desktop and recheck it and BiocCheck works well (`.o` files should be removed in advance).

[code]

Thanks a lot!

[2018-11-21 12:23] WT215 commented on #38
I reinstalled R (formal released one rather than patched version), but BiocCheck still reports the same error.

[2018-11-21 14:33] WT215 commented on #38
Problem solved.

https://github.com/bobverity/rmaverick/issues/3 This works for me!!!

I think the trick is to add `C:\Rtools\bin` in windows environment variable.

[2018-11-21 14:33] #38 closed, assigned to nobody

[2018-11-28 18:21] #36 closed, assigned to lshep

[2018-12-06 13:48] JoFAM opened #39 ".git etc not ignored by checkIndivFileSizes"
When running BiocCheck() on the RCM package ( https://github.com/CenterForStatistics-UGent/RCM ) I get the following warning :

[code]

That's pretty odd, as the .git folder is a hidden folder in the root directory and part of the git system. I have added the following to .Rbuildignore :

[code]
but to no avail. I keep getting the same warning, which doesn't even make sense. Warning is given every

[2018-12-06 13:50] JoFAM opened #40 "Help page BiocCheck() doesn't give correct default package = ".""
Minor detail, but on `?BiocCheck` the following usage is given:

[code]
Per the function definition, this should be:

[code]

[2018-12-19 01:39] Shians opened #41 "BiocCheck breaks when `[` is aliased."
If you put

[code]

Somewhere in a package, it will trigger

[code]

In BiocCheck::BiocCheck() (version 1.18.0). This comes from

[code]

In codetools::makeUsageCollector(), and the fact that

[code]

[2018-12-20 14:14] mtmorgan commented on #41
Further discussion on the bioc-devel mailing list... https://stat.ethz.ch/pipermail/bioc-devel/2018-December/014451.html

[2018-12-20 15:44] #41 closed, assigned to nobody

[2018-12-20 15:51] #40 closed, assigned to nobody

[2019-01-15 08:59] llrs opened #42 "Dependency on R version"
The BioCheck gives a warning when R version is below the intended R version used for the release. But per Martin's comment it seems that the dependency on R or a specific R version can be omitted.

The relevant messages are on this thread:
https://stat.ethz.ch/pipermail/bioc-devel/2019-January/014555.html

[2019-01-15 12:00] lshep commented on #42
I don't think the R check should be removed,  It is our strong suggestion to include the version the builder tests on as we cannot determine if any other dependencies have changed in previous versions and can ensure a working copy - it is already a WARNING the only suggestion I would have would be to change to a NOTE but I think this check is fine as is as a WARNING ... @mtmorgan   input?

[2019-01-15 12:04] mtmorgan commented on #42
Agree with Lori, see further discussion in the email thread.

[2019-01-15 12:04] #42 closed, assigned to nobody

[2019-01-23 19:15] Jiefei-Wang opened #43 "Incomplete error information"
If the biocViews field is empty in the DESCRIPTION file, the error message would be:
[code]
which is hard to understand, It might be better if the error message can be more informative in this case.

[2019-01-23 19:27] lshep commented on #43
It gives and informative error if the biocViews is missing completely from the Description

If you read the documentation to add the field to the description to begin with, why wouldn't you follow the advice to add a term?

[2019-01-23 19:58] Jiefei-Wang commented on #43
I know this is not a bug, Just a minor comment, the message could be more instructive by saying something like(Which is the error message when there is no biocViews in the DESCRIPTION file):
[code]

I haven't decided which term I should put in this field so I left the field empty. This might be uncommon but just for the next person who did the same mistake as me...

[2019-01-23 20:00] lshep commented on #43
Valid point. I'll look at catching that edge case.

Lori Shepherd
Bioconductor Core Team
Roswell Park Cancer Institute
Department of Biostatistics & Bioinformatics
Elm & Carlton Streets
Buffalo, New York 14263
________________________________
From: Jeff-King <notifications@github.com>
Sent: Wednesday, January 23, 2019 2:58:26 PM
To: Bioconductor/BiocCheck
Cc: Shepherd, Lori; Comment
Subject: Re: [

[2019-01-24 13:56] #43 closed, assigned to nobody

[2019-02-03 02:09] smped opened #44 "Add test for Remotes?"
This one just tripped me up, so I wonder if it's worth adding a test to BiocCheck that checks for packages listed in the Remotes field in the DESCRIPTION file. I'm not totally up with the structure of the BiocCheck package so my apologies if this is clumsy, but maybe something along the lines of:

[code]

[2019-02-04 12:18] lshep commented on #44
Thank you for pointing this out; we will consider your proposal.

[2019-02-04 16:04] lshep commented on #44
Out of curiosity where you getting an ERROR somewhere when you had the remotes field in the DESCRIPTION?

[2019-02-04 16:12] smped commented on #44
The build report is here and that was the first ERROR I saw.  https://bioconductor.org/spb_reports/ngsReports_buildreport_20190202043535.html

It passed local runs using R CMD check & BiocCheck using R 3.5.2. I was relying on travis for bioc-devel & also tested it using the available bioc-devel docker, with nothing being flagged.

The DESCRIPTION at the time of initial submission is visible here t

[2019-02-04 16:16] lshep commented on #44
Thank you!

[2019-02-07 18:09] #44 closed, assigned to lshep

[2019-03-15 13:27] lshep opened #45 "Author/Maintainer check"
Check for use of Author/Maintainer   and  Author@R  should be either or not both

[2019-03-15 13:27] lshep opened #46 "evaluated code chunks in vignette"
```R   was not producing recognized code chunks  while ```{R}  did.  Can there be a check for valid code chunk options?

https://devteam-bioc.slack.com/archives/C1TULTW5N/p1552656041012200

[2019-03-15 13:36] lshep commented on #39
The .git directory should not be ignored.  Git history remembers large objects even after they are removed.  There have been some similar posts that @nturaga has answered.  Please see the following references

https://stat.ethz.ch/pipermail/bioc-devel/2019-February/014703.html

Within that post he references the following pages as well:
http://bioconductor.org/developers/how-to/git/remove-large-da

[2019-03-15 13:36] #39 closed, assigned to nobody

[2019-03-15 17:29] lshep opened #47 "vignettes have vignette designation"
https://stat.ethz.ch/pipermail/bioc-devel/2019-March/014768.html

[2019-03-15 17:31] lshep commented on #46
Also check if plain ``` register  and {R}  vs {r}

[2019-03-18 12:57] #45 closed, assigned to lshep

[2019-03-18 15:51] #47 closed, assigned to lshep

[2019-03-18 16:01] lshep commented on #46
seems like {r}  or {R}  works but not plain ``` or missing brackets

[2019-03-18 17:56] #46 closed, assigned to lshep

[2019-03-21 19:23] gabrielodom opened #48 "BiocCheck does not recognise NEWS.md"
### Issue Description
When we include the file `NEWS.md` at the top level of our  package, BiocCheck() returns

When we remove the `.md` file extension, saving the file as `NEWS` instead, this note disappears.

Our package is available at <https://github.com/gabrielodom/pathwayPCA>

### Session Info
R Under development (unstable) (2019-02-12 r76095)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Runnin

[2019-03-22 11:52] lshep commented on #48
Thank you for making us aware.  I will look into this

[2019-03-22 14:12] #48 closed, assigned to lshep

[2019-03-22 14:12] lshep commented on #48
This might take 24-48 hours to propagate to the single package builder but it should be resolved. thank you!

[2019-03-22 14:13] gabrielodom commented on #48
We are happy to help :)

[2019-06-12 21:11] Jiefei-Wang opened #49 "copy files in src folder with a filter"
Hi,

I was using a 64 bit Windows system and trying to run `BiocCheck()` to test my package, the problem I have encountered is that `BiocCheck()` cannot work with `devtools::load_all()` function since it will make a compilation of the 32-bit package failed. The reason is that  `BiocCheck()` will create a `src-i386` folder which contains the same files as `src` folder and compile a 32bit dynamic li

[2019-06-12 21:26] Jiefei-Wang opened #50 "Method to determine the package name"
Hi,

I recently has changed my package name and found that `BioCheck()` uses the folder name instead of the name in the DESCRIPTION file to determine the package name. Therefore, if the folder has a name different from the package name, `BioCheck()` will fail to load the package. Here is a simple example to show the bug.

DESCRIPTION:

Package directory:

`BiocCheck()` output:

[code]

It seems li

[2019-06-12 22:10] lshep commented on #50
This is intentional.  The build system requires the DESCRIPTION and the package directory match.  The entire build system is built around this which is why it is explicitly checked.  You'll see that flagged as an ERROR even before the loadNamespace ERROR to give you an indication of what is wrong.
[code]

If it is not the same it will cause issues on our Bioconductor daily builders.

[2019-06-12 22:10] #50 closed, assigned to nobody

[2019-06-13 02:31] lshep commented on #49
I don't necessarily consider this a problem with BiocCheck.  devtools::load_all is meant as a development tool.  Compatibility with this function isn't necessarily a concern for BiocCheck.    R CMD check and R CMD BiocCheck are really meant to be run independently on package tar balls or package directories.  When submitting a package, compiled code should not be included and often causes problems

[2019-06-13 02:31] #49 closed, assigned to nobody

[2019-07-01 13:45] muschellij2 commented on #48
Docs still say `NEWS` or `NEWS.rd`: http://master.bioconductor.org/packages/devel/bioc/vignettes/BiocCheck/inst/doc/BiocCheck.html#news-checks, https://github.com/Bioconductor/BiocCheck/blob/master/vignettes/BiocCheck.Rmd#L483

[2019-07-01 13:57] lshep commented on #48
Fixed in version 1.21.1

[2019-07-11 01:02] lubianat opened #51 "Misterious error "* Checking library calls... Error in parse(outfile, keep.source = TRUE) (...) unexpected symbol 6: 7: Create a""
Hello,
I was running BiocCheck in a in-development package( www.github.com/lubianat/PubScore) and
I got an error in my BiocCheck that I was not able to figure out the source.

This was the error found:

* Checking library calls...
Error in parse(outfile, keep.source = TRUE) :
  /tmp/RtmpwYXYVW/file2cda59db730a/parseFile.tmp:7:8: unexpected symbol
6:
7: Create a
          ^
When searching the inter

[2019-07-11 05:09] mtmorgan commented on #51
At this line https://github.com/lubianat/PubScore/blob/9ce25c1952742224b1c90c6d7698ed72841471f4/R/pubscore.R#L67 you intend to write a comment in an example, but instead you write a plain text. It should be

[code]
This is not an issue with BiocCheck; instead it is a problem with Bioconductor package development. In the future please ask on the [bioc-devel mailing list][1].

[1]: https://stat.ethz

[2019-07-11 05:09] #51 closed, assigned to nobody

[2019-09-06 00:19] HenrikBengtsson opened #52 "Naughty behavior: installing files into R_HOME installation without asking for permission"
Hi, I just discovered that the BiocCheck package installs files into `R.home("bin")` if [it can](https://github.com/Bioconductor/BiocCheck/blob/6722da6a506c38dccde96f6acff7f8a0e057aaa9/R/install.R#L1-L58):
[code]
and it does so without asking for permission or notifying the user. It "just" happens when the package is loaded:

https://github.com/Bioconductor/BiocCheck/blob/6722da6a506c38dccde96f6ac

[2019-10-07 08:14] MahShaaban opened #53 "Checking for units tests in non software packages"
I am getting this note even though the package in question is not a software package

    NOTE: Consider adding unit tests. We strongly encourage them. See
     http://bioconductor.org/developers/how-to/unitTesting-guidelines/.

Is `BiocCheck` supposed to check for unit tests in non software packages? Or should it be skipped just like vignette checks.

Thanks

[2019-10-07 11:42] lshep commented on #53
We left it in as it is still somewhat encouraged to have unit tests for data or annotation packages.  The checks could be something like making sure the expected data is present or object generation was executed properly, etc.  If it is too time consuming or not needed or no tests are appropriate than it can be skipped for these types of packages which is why it is a NOTE instead of a WARNING/ERRO

[2019-10-07 11:42] #53 closed, assigned to nobody

[2019-10-10 14:24] mjsteinbaugh opened #54 "Check failure on R Markdown templates containing child chunks"
Hi, I'm running into an issue with BiocCheck failing on R Markdown templates that contain chunks with a child call to an external file. For example, the templates in [bcbioRNASeq](https://bioinformatics.sph.harvard.edu/bcbioRNASeq/) work fine but are causing BiocCheck to error.

Here's an example:
https://github.com/hbc/bcbioRNASeq/blob/master/inst/rmarkdown/templates/quality-control/skeleton/skel

[2019-10-10 15:05] mtmorgan commented on #54
I think that the most likely path forward here will be a pull request from the community.

[2019-10-10 15:23] mjsteinbaugh commented on #54
@mtmorgan I'll see if I can come up with something

[2020-04-02 20:44] PeteHaitch opened #55 "Positive false positive: Infrastructure package, vignette not required."
Described in https://github.com/Bioconductor/Contributions/issues/1448#issuecomment-607640157

[2020-04-11 20:47] LiNk-NY opened #56 "finding NEWS.md in package directory"
Hi Lori, @lshep
It doesn't seem like `NEWS.md` is found by `BiocCheck`.

Location: https://github.com/waldronlab/SingleCellMultiModal/blob/master/NEWS.md

SPB response:
[code]

Related BiocCheck line:

https://github.com/Bioconductor/BiocCheck/blob/1cdf169a35f874dd07f71343ab073ebff430f903/R/checks.R#L1262-L1263

Potential solution based on requirements here:
[code]

[code]

Thanks!

[2020-04-13 13:40] lshep commented on #56
Fixed for all valid locations in  [this commit](https://github.com/Bioconductor/BiocCheck/commit/05a2bdb2a24d792b558dd16558943cd90d4da3f3)  and removing it from the `.Rbuildignore` so it gets included in the build tar.

[2020-04-13 13:40] #56 closed, assigned to nobody

[2020-04-17 22:25] lcolladotor opened #57 "Recommend styler over formatR suggestion"
Hi,

Based on my recent work for https://github.com/r-lib/actions/issues/84 and at https://github.com/leekgroup/derfinderPlot/blob/master/dev/02_update.R, I want to make a small PR to `BiocCheck` and http://www.bioconductor.org/developers/how-to/coding-style/. This is directly related to https://github.com/r-lib/styler/issues/636.

While `formatR` has been really helpful, in my experience when I u

[2020-04-17 22:28] lcolladotor commented on #57
Ahh, I see that https://github.com/Bioconductor/bioconductor.org exists!

[2020-04-21 12:39] lshep commented on #57
Would gladly accept pull requests!

[2020-04-21 16:26] lshep commented on #57
https://github.com/Bioconductor/Contributions/issues/1451#issuecomment-617224585    Proof -- this package very much liked it

[2020-04-21 23:33] lcolladotor commented on #57
Awesome! Thanks for letting me know Lori =)

I've been working on the getting GitHub Actions up and running for bioc packages at https://github.com/r-lib/actions/issues/84 and  this is my current status of [`check-bioc.yml`](https://github.com/leekgroup/derfinderPlot/blob/d586ae49b665e68d262a0d2ccf09b9c2aebda086/.github/workflows/check-bioc.yml) from https://github.com/leekgroup/derfinderPlot/comm

[2020-04-22 19:46] mtmorgan commented on #57
my own feeling is that one gets 90% of the way there by implementing any commonly accepted style, without having to re-invent the wheel or quibble about details. Of course my own 'priority' is 4 versus two space indentation, and I'd be happy with a recommendation (on bioconductor.rog / BiocCheck; does it require a `bioc_like_style()`?

[code]

[2020-04-30 20:55] LiNk-NY opened #58 "don't count @keyword internal : 80% documented man pages"
IMO, documentation using the `@keywords internal` tag should be excluded from the denominator for the error:
[code]

[2020-05-01 15:13] LiNk-NY commented on #58
The exception here is that there was an `@export` tag in the function.
Not sure how we should make the distinction between internal (documented)
and exported functions or are these conflicting labels?
Exported functions should always have runnable examples I think :thinking:

[2020-05-01 15:15] lshep commented on #58
yes exported functions should have runnable examples with few exceptions.  That was the original intention of the check I believe

[2020-05-01 15:15] LiNk-NY opened #59 "dontrun donttest tags not relevant for internal functions"
* NOTE: Usage of dontrun{} / donttest{} found in man page examples.
      20% of man pages use one of these cases.

Should not be a note when checking functions with the tag `@keywords internal`

[2020-05-04 12:35] LiNk-NY opened #60 "Single colon typos"
BiocCheck doesn't recognize typos that may happen when importing a function from a package as `package::function`.

Example
---
Input:
[code]

Output:
[code]

[2020-05-04 12:43] lshep commented on #60
so you think it should be more informative to inform of the typo?   I would argument that this check is doing what its suppose to if there is a typo its not guaranteed to be imported correctly right?

[2020-05-04 14:30] LiNk-NY commented on #60
Yes, I think it would be better to suggest that they meant to type `::` instead of `:` unless when the single colon is used in an environment reference (e.g., `"package:stats"`) but that would have to be enclosed in quotes. Besides, it's preferable to load an environment using `loadNamespace` to avoid such references.

The error output doesn't make sense to me. The `NAMESPACE` file does have the l

[2020-05-06 13:30] lshep opened #61 "Author / Maintainer check"
Force use of Authors@R  as it is internally checked by R CMD build  -   Print out ERROR if using Author:  and Maintainer:   .  While it is not strictly forbidden, it is legacy format, it is better and recommended to use Author@R .   Author and Maintainer fields can be free text and are hard to check for valid input  (email, one maintainer, etc)

[2020-05-06 15:10] LiNk-NY commented on #61
Features WRT `Authors@R` that could be added somewhere in the documentation website (package guidelines):
* Fine control with family names, middle names etc.
* ORCID ID as comment
* Appropriate contributor attributions

[2020-05-06 15:42] nturaga commented on #58
#59 is related.

[2020-05-06 15:52] nturaga opened #62 "lintr style code check for Bioconductor"
Implement a `BiocLint()` function which takes in an `.R` file(s) and returns lines in the code which need to be improved.

lintr: https://github.com/jimhester/lintr#project-configuration

Goal: Create a new `.lintr` file (lintr configuration file)

[2020-05-06 15:55] nturaga opened #63 "sapply --> vapply, and 1:length become WARNING"
Right now these issues are displayed as `NOTE` tags on the build report, and these should be converted as `WARNING` tags.

[2020-05-06 16:22] LiNk-NY commented on #62
Here is a starter `.lintr` configuration file

[code]

[2020-05-07 21:16] mtmorgan opened #64 "warn on use of `message(paste())`"
`message()` already pastes it's arguments, so the paste is usually (expect with `collapse=`) redundant

[2020-05-07 21:17] mtmorgan opened #65 "warn on too-brief a Description:"
The Description should provide an abstract-like summary of the package; it would be sufficient to trigger a warning if the Description were less than 'X' characters.

[2020-05-07 21:20] mtmorgan opened #66 "Warn (note?) on lack of Bioconductor interoperability"
Packages without Bioconductor dependencies (other than, say, BiocStyle) are unlikely to interoperate well with the Bioconductor ecosystem. Usually revising the vignette to include illustrative work flow steps before or after functionality implemented by the package is a solution, so that additional packages are added to the Suggests: field.

[2020-05-07 21:22] lshep commented on #64
Same for `stop(paste())` and `warn(paste())`

[2020-05-08 12:33] lshep opened #67 "Suggest Hubs when large data is present"
If trying to submit a package with large amounts of data --package should ideally use existing data (as there are many forms already in Bioconductor) -- if that isn't possible data should be reduced or large files should be in an accompanied ExperimentHub or AnnotationHub package

[2020-05-08 12:34] lshep opened #68 "Downloading data from web should be cached"
If a package is downloading data from the web it should be cached using BiocFileCache

[2020-05-08 12:36] lshep opened #69 "print() and cat() usage outside show and print methods for objects"
print and cat should not be used in favor of message  EXCEPTION when utilized in a show or print method for an object

[2020-05-08 12:37] lshep opened #70 "non-trivial new classes should have a show method"
Make sure every (non-trivial) class has a show() method or at least display the #/% of classes that don't

[2020-05-08 12:38] lshep opened #71 "Note: Unit test coverage amount"
Figure out unit test coverage amount and note if code is not sufficiently tested?

[2020-05-08 12:41] lshep opened #72 "description namespace consistency"
There is a fixme at line 448 in R/checks.R  '## FIXME: not 100% confident that the following always succeeds`  This should be tested, verified, and fixed if necessary.

[2020-05-08 12:43] lshep opened #73 "News file formatting"
News file formatting check doesn't seem to always pick up on poorly-formatted news file.

[2020-05-08 12:45] lshep opened #74 "Note: Citation file check"
If a citation file is present.  make sure the file can be read by R. We need to be able to call readCitationFile() on a standalone CITATION file even if the package from which the file is coming from is not installed.  The citation file would not be processed correctly and not appear on a package landing page.

[2020-05-08 13:14] LiNk-NY opened #75 "Error when downloading data from GitHub"
https://raw.githubusercontent.com/
or other flagged external sources

[2020-05-08 13:34] llrs opened #76 "Improve README.md"
A clarification on the README of how to install the package and how to use it might help if people don't visit Bioconductor site.

Also the vignette is missing the sessionInfo at the end.

[2020-05-08 19:49] federicomarini opened #77 "Full integration with codetoolsBioc"
... potentially with `codetoolsBioc` (https://github.com/Bioconductor/codetoolsBioC) becoming at all effects a part of Bioconductor. As of now, it only lives in Github and is listed in the Enhances for BiocCheck.

Why?
I find particularly useful the integration with `BiocCheck` when it automatically provides a bunch of meaningful (and in most of the cases working perfectly OOTB) namespace imports.

[2020-05-08 20:50] hpages commented on #77
Let's please be cautious with codetoolsBioc namespace imports. I've really bad memories of seeing many packages with questionable NAMESPACE directives generated by codetoolsBioc automatic namespace generation feature, e.g. super selective imports from the methods package. These NAMESPACE files would almost always create problems in the long run and I had to fix dozens of them. I'd rather not go th

[2020-05-08 21:07] HenrikBengtsson opened #78 "Make it possible to avoid self-installation of BiocCheck script"
Related to Issue #52; as a first step, make it possible to avoid the auto-installation that takes place as soon as the **BiocCheck** package is loaded.  For instance, make it possible to disable this via an R option `BiocCheck.installOnLoad` and/or an environment variable `R_BIOCCHECK_INSTALLONLOAD`.

https://github.com/Bioconductor/BiocCheck/blob/4687a90efd5a30218320af9eb79f778463397d2e/R/zzz.R#L

[2020-05-08 21:12] federicomarini commented on #77
Agreed, I also recall the strange behavior on `methods`.
It could probably still be useful for generating the first bulk of such directives - which often needs as you say some manual curation? I'm fine with either answer here 😊

[2020-05-08 21:42] HenrikBengtsson opened #79 "Make it possible to enable/disable individual checks via env var R_BIOCCHECK_CHECK_nnn"
Similarly how `R CMD check` has `_R_CHECK_nnn_` environment variables, make it possible to enable/disable individual checks via environment variables, e.g. `R_BIOCCHECK_CHECK_CITATION=false`.

[2020-05-08 22:10] mtmorgan commented on #79
FWIW I'm a negative fan of environment variables (and of conditional evaluation!). How are we supposed to know what environment variables do what magic (or that the variable exists in the first place, or are set on the environment we are running under?)? And at some level, 'if it's good enough for CRAN, then it's good enough for ME' so let's just drop `--as-cran` and have a global standard for wha

[2020-05-08 22:35] HenrikBengtsson commented on #79
Being able to disable checks is useful when checks are under construction, you know they produce false positives, etc.  Being able to get exit code 0 from an `R CMD check` is useful when you run continuous integration systems.

How are you planning to test newly introduced checks without being able to turn them on and off easily?  The only alternative I see is then to rollback a BiocCheck update t

[2020-05-08 22:57] hpages commented on #79
In the context of using `R CMD BiocCheck` more systematically e.g. as part of the daily builds, I think the BiocCheck results would be informative only, at least for a while, and would not be taken into consideration for propagation or for sending automatic build failure notifications. Until BiocCheck is stable and trusted enough but this might take months if not years. In that context false posit

[2020-05-09 03:56] HenrikBengtsson commented on #73
If useful, here's a validation of traditional NEWS files that I discovered some years ago.  If it passes without "bad" entries, then R will render the content, e.g. `news(package = "future")`.  If there's a single "bad" entry, then the NEWS is displayed as-is.

[code]

[2020-05-09 13:23] lshep commented on #73
We already have that implemented or tried to but it still doesn't seem to pick it up all the time
https://github.com/Bioconductor/BiocCheck/blob/4687a90efd5a30218320af9eb79f778463397d2e/R/checks.R#L1287

[2020-05-09 23:57] lcolladotor commented on #57
Hi,

As I described at https://github.com/r-lib/styler/issues/636#issuecomment-626250300, I made a new R package called `biocthis` that implements the `bioc_style()` function. You can then use it like I have at https://github.com/lcolladotor/biocthis/blob/fe66af4a12334559fc7d7968e53de0e676cb8689/dev/04_update.R#L9-L22. That is:

[code]

`biocthis::bioc_style()` is fairly simple and very similar to

[2020-05-10 14:19] mtmorgan commented on #57
I like the idea of biocthis, but think that it is outside the scope of this hackathon.

Also I think it is not suitable as a pull request for BiocCheck, because it adds functionality (correcting problems) beyond the purpose of the package. In the process it introduces significant additional dependencies for relatively specialized function.

FWIW this [pull request][1] might find a better home in s

[2020-05-11 13:47] llrs commented on #17
Maybe this old issue is a good issue to take care of in the hackathon ? Although usually not a lot of packages use this functionality...

[2020-05-11 15:25] lcolladotor commented on #57
Hi,

## Clarifications

I think that we might have had some misunderstandings.

The PR I'm proposing for `BiocCheck` doesn't involve actual code, just the message that has the recommendations on the tools to use for addressing formatting issues. I wanted to ask whether it was ok to edit this message to mention https://lcolladotor.github.io/biocthis/articles/biocthis.html#bioc-style- or if it shoul

[2020-05-11 15:34] mtmorgan commented on #57
Absolutely then updating BiocCheck to advocate for a specific tool for reformatting is in scope.

I think there is value in continuing to think of this (this issue) as part of the hackathon. At the least I think it would be valuable to provide other community members to hear / discuss this if desired...

[2020-05-12 02:05] lcolladotor commented on #57
Ok! I'll wait for the remote hackathon next week then =) I like the idea of getting community feedback.

[2020-05-14 20:28] mtmorgan opened #80 "Encourage 'scholarly' attribution via NOTEs"
NOTE checking for / encouraging

- non-trivial citation() file
- use of ORCID id in DESCRIPTION Authors@R

Advanced

- Add Grants@R (Acknowledgements@R?) field to DESCRIPTION to specifically acknowledge funded research

[2020-05-15 11:49] kokitsuyuzaki opened #81 "Reproducibility of timings in BiocCheck/Single Package Builder"
Hi,

When I tried to register an R package called scTensor to Bioconductor Contributions before, I was troubled by the rule of the Single Package Builder to finish BiocCheck in 5 minutes.

I also noticed that how long the calculation take depends on the specs and the computing situation of the machines performing BiocCheck.

For example, as follows, compared to the Linux/Mac machines, the Windows

[2020-05-15 14:00] lcolladotor commented on #64
Though not using `paste` means that you lose the automatic space separation:

[code]

[2020-05-15 14:19] lshep commented on #64
yes but simple enough to add a space at the end and avoid the extra function call.

[2020-05-15 15:44] lcolladotor commented on #64
I still don't see why this is an issue that amounts to a warning.

If you have multiple objects that you want to string together, I still feel like `paste()` makes it easy.

[code]

`paste0()` on the other hand, I can agree easily that it's completely redundant inside `message()` and related functions.

[2020-05-15 15:46] lcolladotor commented on #75
Why would this be an error?

I actually do this in some of my packages as it can help me access data version controlled in a repo outside the R package.

[2020-05-15 15:48] lshep commented on #75
github data can disappear. There is no control over when an individual deletes this.  It should be in a stable, persistent space.   It is the same reasoning to only allow Bioconductor dependencies to be from CRAN or Bioconductor.

[2020-05-15 15:50] lcolladotor commented on #71
I can see this being useful and I'm happy that it's a NOTE, not more strict.

This gets really hard when you have packages with `shiny` apps (though there might be tools out there that I'm not aware of).

Also, everyone starts at 0% coverage. I guess that people developing a package could ignore this.

Btw, my package https://github.com/LieberInstitute/spatialLIBD has 0% coverage at the moment :P

[2020-05-15 15:58] lcolladotor commented on #68
Hm.... I think this one is really tricky.

I can see the value in caching, which I appreciate and I should probably do it more in a few of my packages. Now, in some cases, I download the data to a specific directory in a specific structure, so I would need to learn how to copy the data from the BiocFileCache to the location I want it in.

Also, what happens when you are accessing say BigWig files

[2020-05-15 16:03] lcolladotor commented on #75
what if you are the author of both repos and control them both?

[2020-05-15 16:07] lcolladotor commented on #67
What is large here? 5mb? 1mb?

I find that this is related to https://github.com/Bioconductor/BiocCheck/issues/75. I've downloaded data from GitHub (from a repo I control) that is small enough and just a file here or there which is simpler than doing all the *Hub submission.

Anyway, I like this idea =) It's making me think about ways to make it easier to submit/test data on *Hub that are for anot

[2020-05-15 16:12] nturaga commented on #76
Some thoughts:

A check for a README.md could be included as NOTE, we don't want to impose that people have a detailed README.md, because we already impose on the detailed vignette.

- Nitesh, Lori

[2020-05-15 16:13] lcolladotor commented on #63
Maybe as part of this issue, or a companion one, could be adding a little help page at https://github.com/Bioconductor/bioconductor.org on how to go from `sapply()` to `vapply()` through a linked issue there.

[2020-05-15 16:17] lcolladotor commented on #73
There's also `NEWS.md` files (I use them now in most of my packages), just something to keep in mind for these checks.

As for the format, maybe as part of this, there could be a companion issue at https://github.com/Bioconductor/bioconductor.org on explaining a bit more or showing more examples of the valid format(s).

[2020-05-15 16:21] nturaga commented on #61
Note:

Might have to be implemented in https://github.com/Bioconductor/BiocCheck/blob/master/R/BiocCheckGitClone.R. So, this is a Beginner-Intermediate stage issue.

[2020-05-15 16:21] lcolladotor commented on #76
Aye, I agree. With BioC, the idea is that people go to the landing page and find all the info there. If you have a README.md it feels to me like you provide that at your own risk. Otherwise you can end up having to reproduce the entire BioC landing page on a README.md (since that page has a ton of very useful info). Plus you might end up confusing users on how to install a package (github vs bioc)

[2020-05-15 16:22] lshep commented on #75
Bioconductor has a copy of the software repo.  We wouldn't have a copy of the data. It's a matter of persistency.  Maybe Error is too strong; maybe warning --  It is definately related to #67 where maybe the hubs should be recommended.

[2020-05-15 16:26] lcolladotor commented on #78
This could be related (I don't fully understand the code here):

On GitHub Actions I ran into issues related to where `BiocCheck` was installed when using the Bioconductor docker images with a shared volume (disk) with the host Ubuntu linux machine. So you end up with 3 `.libPaths()`, with `[1]` being the shared volume and `[2]` and `[3]` being exclusive on docker, such that `BiocManager` installe

[2020-05-15 16:26] HenrikBengtsson commented on #73
Agree `NEWS.md` could/should be validated too.  But, just an FYI, support for `NEWS.md` is still limited in R, e.g. it does _not_ produce a 'Package NEWS' entry the HTML package page (`help.start()`).   It also causes `news()` to produce an error if you don't have {commonmark} and {xml2} installed;
[code]

[2020-05-15 16:28] lshep commented on #73
If you look at the code chunk I referenced it takes into account md files.

[2020-05-15 16:28] lcolladotor commented on #81
Hi!

Since I made https://github.com/r-lib/actions/issues/84 let me know if you have any questions.

Best,
Leo

[2020-05-15 16:32] nturaga commented on #80
This seems to be related to #74 and #61, thoughts?

[2020-05-15 16:41] lshep commented on #79
FYI:  The top level checks in BiocCheck have flags to shut them off  because it was requested by other labs that wanted shut off the Bioconductor support site checks.  Instead of picking and choosing we made flags for each section.

[2020-05-15 16:50] lshep commented on #68
Downloading data to a users system in a specific location is never really recommended because you never know what RW ability a user will have.  We use default caching location of a users system that should be writable.

Depending on the download link I think it should be possible.  There is also the ability in BiocFileCache to do processing on a downloaded file and save the result rather than the

[2020-05-15 16:50] nturaga opened #82 "donttest{} instead of dontrun{} in the @examples as a NOTE"
`donttest{}` has to be valid R-code, whereas `dontrun{}` can be invalid R code.

[2020-05-15 17:10] nturaga commented on #81
@lshep will leave more thoughts about this issue. We think this might already be implemented.

[2020-05-15 17:42] lshep commented on #81
The documentation should be updated -  The BiocCheck is actually already extended out to 10 min on the builders (20 for windows because we test on the two arches)  -  We don't want to extend much more than that because if we are going to extend this to the daily builder besides the single package builder we would have to run it on all packages.   We recognize that the timing will depend on the ind

[2020-05-15 19:02] lcolladotor commented on #75
Just as a more detailed example, see https://github.com/leekgroup/recount/blob/master/R/all_metadata.R#L44-L50 and https://github.com/leekgroup/recount/blob/master/R/add_metadata.R#L68-L77 that is related also to https://github.com/Bioconductor/BiocCheck/issues/67

[2020-05-15 19:06] lcolladotor commented on #62
Hi,

Sorry, I'm new to `lintr` (I've seen the name here and there before, haven't dived into it). When I first quickly looked at it, it seemed to me that `BiocCheck` was already doing something similar.

If so, is the idea to have `BiocCheck` rely on `lintr` for all the formatting checks?

If so, it might be good to have an example `.R` file that fails the formatting checks to test this on as well

[2020-05-15 19:10] lcolladotor commented on #63
Here's some example `sapply()` calls I have in a package that I would need to update to `vapply()` https://github.com/leekgroup/recount/search?q=sapply&unscoped_q=sapply.

I'm not the most familiar with `vapply()`, so I don't know if there are `sapply()` cases that are hard to transition to `vapply()`. Just thinking about the docs page suggestion, not the actual `BiocCheck` check.

[2020-05-15 19:12] lcolladotor commented on #64
Here's an example of code I would need to update https://github.com/leekgroup/recount/search?q=paste&unscoped_q=paste. Anyway, it's doable and I don't remember off the top of my head if I have `message(paste(x, y, z))` use cases.

[2020-05-15 19:20] lcolladotor commented on #67
Some related ideas:

* I might add a function in [`biothis`](https://github.com/lcolladotor/biocthis) similar to `usethis::use_data()` but maybe a `use_bioc_hub()` one that structures a template to submit data to the *Hubs. This might happen after the BiocCheck-a-thon though. This would help me any failing checks to the *Hub and it could help others.

* I need to double check the docs again and I

[2020-05-15 19:23] lcolladotor commented on #76
Related to this issue:

By the way, at `biocthis`, particularly https://github.com/lcolladotor/biocthis/blob/master/inst/templates/package-README#L29-L42 the template I made recently does add the information Lluís requested.

I guess that this new `BiocCheck` check could check whether:

* `BiocManager::install()` is mentioned
* A link to `https://bioconductor.org/packages/{pkg-name}` is included

[2020-05-15 19:33] mtmorgan commented on #63
Usually the hard-to-apply cases are the ones where you say
[code]
Usually `sapply()` doesn't simplify because `FUN` sometimes returns one type of value, sometimes another. Or sometimes the return value is length x, other times length y.

Usually, the solution is to fix `FUN()`, rather than to avoid `vapply()`. If `FUN()` always returns the same type of value, then the subsequent code is much easie

[2020-05-16 01:18] HenrikBengtsson commented on #80
There's a funder field supported by `Authors@R`; don't know the abbreviation right now but maybe that can be used to acknowledge funding sources?

[2020-05-16 10:05] mtmorgan commented on #80
Neat; `person(role = "fnd")` is used by 13 packages in Bioconductor; you can see this appear in the 'Authors: ' list on the [scMerge][1] landing page, for instance.

[gCrisperTools][2] has two funders in Authors@R, but then a manual Authors: field without funders; the Authors: field is propagated to the web site.

[1]: https://bioconductor.org/packages/devel/bioc/html/scMerge.html
[2]: https://bio

[2020-05-16 10:07] mtmorgan commented on #61
Sometimes contributions have Authors@R and Authors fields. I believe the later is not overwritten by the former when the package is built, so the Authors@R field is ignored. So providing both should be an error.

[2020-05-17 15:37] HenrikBengtsson commented on #80
This is picked up by `R CMD check --as-cran`;
[code]

There are lots of great tests in `--as-cran` that I think you miss out on (maybe this should be a separate issue).

[2020-05-17 15:42] HenrikBengtsson commented on #77
FWIW, `R CMD check` produces WARNINGs with suggestions like:

[code]

I'm not 100% sure under what circumstances these are picked up.  It might be that it only recommends this for functions in base R packages.

[2020-05-17 19:19] lshep commented on #61
Good to know.  We already check if both are used so when updating to force Authors@R it is good to know we still have to check for this.

[2020-05-17 19:21] lshep commented on #67
@Kayla-Morrell  is working on create_hub_package functions and helper functions.  They should be implemented shortly in the AnnotationHub/ExperimentHub packages

[2020-05-17 19:25] lshep commented on #64
It amounts to a second function call and addition to the call stack.  The paste should either be done outside the message call or not at all.

[2020-05-17 19:33] lshep commented on #80
@HenrikBengtsson  --as-cran is too strict and we felt like some CRAN specific checks were not in line with Bioconductor.  We implement many of the same checks as --as-cran  and tried to set the environment variables accordingly (which -- again -- is hard for naive Bioconductor users to then replicate which is the argument to have them as default R CMD check atrtibutes rather than options but see

[2020-05-17 19:37] federicomarini commented on #77
Yes, the base (+ graphics or so) functions seem like they're the ones that get correctly suggested in that scope.

[2020-05-18 06:19] kokitsuyuzaki commented on #81
I didn't know that.
Ok, 10 or 20 min sounds sufficient.
Thank you.

[2020-05-18 06:19] #81 closed, assigned to lshep

[2020-05-18 08:17] federicomarini commented on #71
Could this be done with a direct call to the `covr` framework?
The problem is that it would (slightly) increase the runtime for the more mature packages - can this be optionally triggered with a boolean?

[2020-05-18 08:24] federicomarini commented on #65
What's a good lower limit for this? Happy to try to warm up the engines on this

[2020-05-18 12:05] federicomarini commented on #65
Just thought that the threshold can actually be "data driven", and take a low-enough quantile for the distribution of all existing packages now in Bioc (I can get a sample of it by fetching the ones on my machine)

[2020-05-18 12:15] lshep commented on #81
I'll make sure to update the documentation so it is reflected.

[2020-05-18 12:25] mtmorgan commented on #65
I have a mostly up-to-date clone of all software packages
[code]
with
[code]

But that is 'what is' rather than 'what ought to be'. How many words to convey what a package does? At least 50?? (before doing this exercise the number in my head was '300'...).

[2020-05-18 12:39] federicomarini commented on #65
Funny how we always underestimate/overestimate when we do need to do the exact opposite 😄

My ballpark estimate (subset of course to more active package than the full clone)

[code]

10 might be a generous value, 20 would be a good one...

<img width="689" alt="image" src="https://user-images.githubusercontent.com/7447478/82213979-5228f400-9915-11ea-87ff-0eb9ca25ba44.png">

[2020-05-18 12:41] federicomarini commented on #65
... with a lot of orgDb/TxDB packages forming the spikes around 13-15

[2020-05-18 12:50] mtmorgan commented on #65
Also, I think of the Description as a paragraph, and a paragraph should have a beginning, a middle, and an end. So at least three sentences... (unless we're writing fiction).

[2020-05-18 12:52] federicomarini commented on #65
We could even articulate the check at different levels:

- too few chars: can't be, error
- too few words: meh, error/warning
- not a para: I'd be generous, and say note

[2020-05-18 14:40] mtmorgan commented on #71
I think there are two challenges with this issue

The first is that 'slightly increase' the run time is an understatement -- the entire package has to be checked with covr.

A second challenge is that the results of covr need to be effectively conveyed to the user, in part because of challenges the user has in emulating the build system (even in 'simple' ways, like using the correct version of R a

[2020-05-18 14:49] lcolladotor commented on #64
Hm... if it's ok to do it before the `message()` call, then is this issue really about avoiding nested function calls in the same command? That would be a much more general check. I'm just trying to understand why it's a warning.

Anyway, I still think that this check can/should be implemented =) (just in case others read my messages as being negative)

[2020-05-18 14:50] lcolladotor commented on #67
Wow, that's awesome news =) Thanks for doing this Kayla! 🙌🏽🙌🏽🙌🏽

[2020-05-18 15:42] aedin opened #83 "Affiliation, location in DESCRIPTION file"
In the DESCRIPTION file, add more info about Authors

- Link to Twitter/LinkedIn or social media.
- Affiliation
- Location /Time Zone

Recently I was trying to find Bioc developer in Boston and I was unable to do this via package DESCRIPTION files.  The time zone info might be useful for Zoom connections ;-)

[2020-05-18 15:45] lcolladotor commented on #67
For Constantin Ahlmann-Eltze's question on the 2020-05-18 intro discussion:

Maybe you can use `usethis::create_package()` then create data to it (`usethis::use_data()` and related functions), that is, create the dummy test package that breaks the structure on the fly.

[2020-05-18 15:46] lcolladotor commented on #67
Like code like this https://github.com/lcolladotor/biocthis/blob/master/R/biocthis_example_pkg.R with more steps.

[2020-05-18 15:49] lcolladotor commented on #67
What Martin Morgan was referring to I think is https://usethis.r-lib.org/reference/proj_utils.html though you might also be interested in https://github.com/lcolladotor/biocthis/commit/dc387807623f0e945432d15f0d0f899de1b1dd9d#r39102094

PS The `usethis` functions are somewhat related to http://withr.r-lib.org/reference/index.html (like `withr::with_dir()` though https://github.com/r-lib/usethis/is

[2020-05-18 15:53] mtmorgan commented on #67
Nope, more `testthat::with_mock()`, which allows you to 'pretend' that a particular function behaves in a particular way, e..g, that `file.size()` returns a very large size, even though there is no file at all! This means that the unit tests remain very light-weight, and focus on the problem at hand ('does my function appear to handle very large files') rather than taxing the build / test system o

[2020-05-18 15:54] lcolladotor commented on #67
Ahhh! Thanks for the clarification =)

[2020-05-18 15:59] federicomarini commented on #65
Happy to start my contribution by working on this @federicomarini

[2020-05-18 16:01] lcolladotor commented on #57
In response to the 2020-05-18 BiocCheck-a-thon intro session: Count me in for resolving this issue (can you assign me to it? I can't self-assign). If anyone else is interested, please let me know. Thanks!

[2020-05-18 16:06] federicomarini commented on #77
Happy to try out the full grooming to Bioc package. @federicomarini

[2020-05-18 16:07] const-ae commented on #67
I would give this one a try and explore if RUnit has some similar ability to `testthat::with_mock()` @const-ae

[2020-05-18 16:08] grimbough commented on #61
I think it would be nice to have a validity check on an included ORCID ID.  I missed a letter in one package and it passed all checks fine, but didn't render correctly on the package landing page.

This overlaps with #80 I think

[2020-05-18 16:08] lcolladotor opened #84 "Add a GitHub action workflow for BiocCheck"
Hi,

Based on the BiocCheck-a-thon intro session today and the request to run R CMD build & check (plus optionally implement new `RUnit`  tests), I would like to send a PR that adds a GitHub Action (GHA) workflow to the BiocCheck git repo.

What I have in mind is editing the `biocthis` GHA to just run on the Bioconductor dockers (no macOS or Windows tests to simplify the GHA) and show the output o

[2020-05-18 16:09] lcolladotor commented on #84
Luke Zappia just posted a similar message on Slack at https://community-bioc.slack.com/archives/C012YQP9VHU/p1589818097084200

[2020-05-18 16:20] grimbough commented on #59
I'm happy to take a look at this issue.

[2020-05-18 17:34] const-ae commented on #67
I created a first commit that kind of addresses the issue. There still several short comings:

* RUnit does not seem to support mocking function calls, I thus create a large file on the fly which takes a few seconds
* The check is kind of redundant with the `checkIndivFileSizes()` check so they should probably be integrated
* I am not sure that I fully understood the typical patterns in `test_Bioc

[2020-05-18 19:18] lazappi commented on #71
I was curious about the overhead for `{covr}` so here are the timings for running it on my package (`{splatter}`). Summary is that `covr::package_coverage()` takes about as long as running the tests.

[code]

I don't know if there is some other minimal way to estimate test coverage? Perhaps a compromise would be to add a message suggesting `{covr}` to the testing check section?

[2020-05-18 20:28] federicomarini commented on #65
Currently on it, I was trying to trigger some of the behaviors but noticed that `checkDescription` is only called by `BiocCheckGitClone` - should it also be in the classical `BiocCheck`?

Otherwise: it would make sense to perform that check "somewhere else" in the series of checks.

Happy to learn which one the recommended way would be 😉

[2020-05-18 20:30] lshep commented on #65
I think most of the Description checks for the BiocCheck fall underneath BBScompatibility?

[2020-05-18 20:31] federicomarini commented on #65
Yeah you're right.
Makes totally sense to move it there. Thanks @lshep !

[2020-05-18 22:05] federicomarini commented on #71
Well `covr` kinda has to do at least test the whole package, so this is not entirely surprising.
I have no clue whether there are some "shallower" methods to estimate coverage - at least, not without at least testing...

[2020-05-18 23:58] lcolladotor opened #86 "Add a pull request checkbox template"
Hi,

During the presentation today Lori mentioned several steps people should do before sending a PR. It might be useful to make a PR GitHub template just to remind us all about these steps. I think that this can be done by looking at Lori's slides then adding a file under `.github` with the template (I don't remember the exact file name/path it must have for GitHub to recognize it). When I sent t

[2020-05-19 00:00] lcolladotor commented on #84
Related links:

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">The <a href="https://twitter.com/hashtag/BiocCheck?src=hash&amp;ref_src=twsrc%5Etfw">#BiocCheck</a>-a-thon started today 🎉<br><br>Here&#39;s a 15 min video where I try to resolve issue 84 &amp; show how to fork/clone/make a branch (<a href="https://twitter.com/xieyihui?ref_src=twsrc%5Etfw">@xieyihui</a> shoutout)<br><br>🌐<a h

[2020-05-19 00:03] lcolladotor commented on #86
Useful links:

* Creating a pull request template https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository
* Lori's presentation slides: https://docs.google.com/presentation/d/1DkN2WVPOMVGqUtlSSrWbx6IMjtGP_cEHoE3nfOEnD68/edit?usp=sharing
* R CMD check + build (on BioC 3.12) + the items listed at https://docs.google.com/presentation/d/1DkN2W

[2020-05-19 01:55] lcolladotor commented on #83
I like this quite a bit since I also think that being able to find other developers would be a great feature. Alejandro Reyes @areyesq89 once made a map of the location of Bioconductor developers shown [here](https://comunidadbioinfo.github.io/post/a-recap-of-cdsb-2018-the-start-of-a-community/#.XsM7wxNKg6g) though if I recall correctly, this was a very hard task.

Having said the above, maybe one

[2020-05-19 07:08] lazappi commented on #71
Yeah it's not surprising when you think about it but for some reason I had it in my head that it magically worked without running the tests 🎩.

I found this script which uses regex to find function calls in tests https://gist.github.com/cannin/819e73426b4ebd5752d5. Not as detailed as `{covr}` but might be enough to raise a note and suggest using `{covr}` to check in more detail?

[2020-05-19 09:05] grimbough commented on #71
I haven't given this much thought, but is there potential to turn off the 'standard' running of the tests, and rely on the run through with `covr`?  Then it's not a doubling of the test runtime.

[2020-05-19 09:26] lazappi commented on #71
I think the problem with that might be that if a test fails you just get an error from `{covr}` and you don't get any of the normal output about the success or not of individual tests.

[2020-05-19 09:29] federicomarini commented on #77
I did start up with some code last week, for bringing the package to a "modern status".

- apologies for the not so full descriptions in the commit
- I was working on my master and not on a separate branch, I hope it is not so dramatic (did not expect any new commits coming in for this package)

The PR will be posted on the https://github.com/Bioconductor/codetoolsBioC repo directly

[2020-05-19 16:06] lshep commented on #67
I'll have a look later today and provide some feedback

[2020-05-19 16:28] lcolladotor commented on #84
See https://github.com/Bioconductor/BiocCheck/pull/85 for reasons why this issue and companion pull request was not of interest at this point in time.

[2020-05-19 16:28] #84 closed, assigned to nobody

[2020-05-20 05:19] aedin commented on #83
Thanks
ORCID is really useful and should definitely be encouraged (I think its
optional at the moment), maybe it could be "upped' to a warning.

Even with ORCID, it may not be possible to work out someone's location.
We could ask for location/timezone or maybe for a slack ID, Twitter ID.
I think Slack captures timezone which is increasingly important in
virtual meetings.
Twitter handle would be gr

[2020-05-21 17:56] lshep commented on #74
I guess the important factor to keep in mind  in the above description is that readCitationFile needs to work without the package being installed.  That may mean the check to should in the BiocCheckGitClone that happens on the open raw git clone of a github repository before build/check installs the package?    Or maybe it doesn't matter and could go in the normal checks.R  but something to be awa

[2020-05-21 19:21] federicomarini commented on #74
Can't promise to have bandwidth on this today and tomorrow, but here I'd like to elaborate on some details.

Is the `CITATION` file to be placed exclusively in the `inst` folder? Or is there some liberty in the location?

[2020-05-21 19:30] hpages commented on #77
Hi Federico, Henrik,

Just to be clear on this, the `importFrom("methods", "is")` suggestion is unfortunately not a good one. See this [recent discussion](https://stat.ethz.ch/pipermail/bioc-devel/2020-May/016776.html) on the bioc-devel mailing list.

H.

[2020-05-21 19:42] federicomarini commented on #77
Thanks @hpages for pointing this out!
I'm far from delving into the gears of `codetoolsBioc` internals, this really exceeds my current understanding of the whole thing 😛
My proposal in this case was to pimp up the package "to the Bioc level". I understand that this should be done with handfuls of care to have it return the best suggestions. I think mine was more an homage of the many times it turn

[2020-05-21 20:07] federicomarini commented on #74
As an addon: at which point do you see fit to perform this check?

[2020-05-21 20:51] hpages commented on #77
I understand. One more thing that would need to be addressed in the process of pimping up the package "to the Bioc level" is `writeNamespaceImports()` use of `importMethodsFrom` when really  `importFrom` should almost always be used instead. This is because what should really be imported are generic functions, not their particular methods. It still works to use `importMethodsFrom` but only because

[2020-05-21 23:57] lshep commented on #74
I could see this being part of the BBScompatiblity section or possibly its own new section.

[2020-05-22 08:05] federicomarini commented on #74
I put together a stub of it in a separate branch of my fork - https://github.com/federicomarini/BiocCheck/tree/BCH_citationcheck_issue74

I cannot be sure to make it to the call tonight (kids 🎾 training!), but I'll make sure to wrap it up in a PR later!

[2020-05-22 08:09] federicomarini commented on #74
Ah, I forgot. Please sign me up for this 😉  @federicomarini

[2020-05-22 17:34] #60 closed, assigned to LiNk-NY

[2020-05-26 14:14] #86 closed, assigned to nobody

[2020-05-29 15:50] #57 closed, assigned to lcolladotor

[2020-05-31 15:28] llrs opened #95 "':::' calls"
There are several non exported functions being used by BiocCheck. Maybe they can be removed or ask to be exported or see if they can be implemented again on this package if not supported by the authors/maintainers of the packages:

 - ‘BiocManager:::.version_bioc’
 - ‘knitr:::detect_pattern’
 - ‘tools:::.build_news_db_from_package_NEWS_Rd’
 - ‘tools:::.build_news_db_from_package_NEWS_md’
 - ‘tools

[2020-06-04 16:58] #65 closed, assigned to mtmorgan, federicomarini

[2020-06-04 17:00] #59 closed, assigned to grimbough

[2020-06-08 20:11] lshep opened #97 "ORCID ID validity check"
I think it would be nice to have a validity check on an included ORCID ID.  I missed a letter in one package and it passed all checks fine, but didn't render correctly on the package landing page.

This overlaps with #80 I think

_Originally posted by @grimbough in https://github.com/Bioconductor/BiocCheck/issues/61#issuecomment-630284136_

[2020-06-08 20:54] #61 closed, assigned to lshep

[2020-06-29 04:59] LiNk-NY commented on #58
It looks like this is resolved in #90
https://github.com/Bioconductor/BiocCheck/blob/c0d2faa6b5fac1c812bfa3e5d45ea09b322254b0/R/checks.R#L1310-L1320

[2020-06-29 04:59] #58 closed, assigned to nobody

[2020-07-24 21:01] harpomaxx opened #100 "BiocCheck space indentation in Rmakrdown vignette documents"
A possible incompatibility problem seems to exist between the indentation required for yaml syntax in the author section of Rmarkdown documents and BiocCheck multiple of 4 space recommendation.  If the author section has several authors, affiliations, and emails it is not possible to use multiple of 4 space indentation without breaking the vignette construction process.

 In section[ 3.1 of the bi

[2020-07-25 00:36] mtmorgan commented on #100
yes; I recommend that you simply ignore this NOTE. The spirit of BiocCheck is to move package code toward 'best practice', so some false positives are tolerated.

If you'd like to submit a pull request, the idea would be to disable the check in the yaml part of an Rmd file, modifying this function https://github.com/Bioconductor/BiocCheck/blob/c0d2faa6b5fac1c812bfa3e5d45ea09b322254b0/R/checks.R#L1

[2020-08-26 14:37] mtmorgan opened #101 "BiocCheck should allow versions x.99.z, for x other than 0"
Currently
[code]
but since the package has already been released through other channels as 2.5.z, it seems like the right thing to do is to use version 2.99.0 for a new '3.0.0' release in Bioconductor. The check should be a warning or perhaps note, or at least point to a discussion in the vignette.

[2020-08-27 11:54] lshep commented on #101
I think the majority of packages we want to have come in at 0.99.0  with the exception if it has already been released and utilized under the higher version 1.0.0  etc and we would still want to have 1.99.z or 2.99.z  indicating a x version bump when officially released in Bioconductor ... I will update to a warning and clarify the message, and add or update a section in the vignette with more det

[2020-09-01 14:46] lshep opened #102 "eval=FALSE doesn't always seem to be checked properly"
I ran into a package review for uncoverappLib that didn't seem to pick up eval=FALSE in vignette correctly.

[2020-09-09 13:45] #101 closed, assigned to lshep

[2020-09-09 14:20] #97 closed, assigned to LiNk-NY

[2020-09-09 14:20] #76 closed, assigned to nobody

[2020-09-10 17:14] lshep commented on #74
addressed in  https://github.com/Bioconductor/BiocCheck/commit/2e82082dfb27e5cd5a3a041cfd04b5b4487bf1d7

[2020-09-10 17:14] #74 closed, assigned to federicomarini

[2020-09-10 17:36] lshep commented on #55
Fixed.  Taking stance that all packages regardless of infrastructure should have a basic vignette.

[2020-09-10 17:36] #55 closed, assigned to lshep

[2020-09-17 14:55] lshep commented on #78
We have decided to remove the command line option for running BiocCheck and BiocCheckGitClone.  BiocCheck and BiocCheckGitClone command line will be deprecated in 3.12 and removed in 3.13. This should allow the writing and self-install portions to be removed.  The documentation and recommended running will be from within R.

[2020-09-17 14:56] lshep commented on #52
We have decided to remove the command line option for running BiocCheck and BiocCheckGitClone. BiocCheck and BiocCheckGitClone command line will be deprecated in 3.12 and removed in 3.13. This should allow the writing and self-install portions to be removed. The documentation and recommended running will be from within R.

[2020-09-17 15:50] lshep commented on #73
Besides move to BiocCheckGitClone -- more complicated --   a poorly formatted NEWS file won't actually fail or cause an ERROR when being run -- need to figure out how to check syntax of output

[2020-09-17 16:25] #82 closed, assigned to nturaga

[2020-09-18 16:19] #52 closed, assigned to mtmorgan

[2020-09-18 16:20] HenrikBengtsson commented on #52
Thanks for revamping this.

[2020-09-18 16:20] #78 closed, assigned to nobody

[2020-09-18 16:24] lshep commented on #52
We won't officially remove all the naughty behavior until after the 3.13 release at the end of October and keep it deprecated message in 3.12.  Cheers

[2020-09-18 16:52] HenrikBengtsson commented on #52
:+1: Totally understand. Deprecating things takes a long time.

[2020-09-24 11:22] mblue9 commented on #17
I just ran into this error. As was trying to find a way to share the same code across Bioconductor vignette and README to reduce code duplication and maintenance, and found a [nifty method](https://www.garrickadenbuie.com/blog/dry-vignette-and-readme/) to share the content using `man/fragments`.

It works well for a CRAN package ([tidyseurat](https://github.com/stemangiola/tidybulk/runs/1159952436

[2020-09-24 23:23] stemangiola commented on #17
If I can add my two cents, reconciling the RADME and Vignette roles is something that many projects are trying to do, with a long list of discussion and blog posts.

Furthermore re-utilizing code chunks is incredibly useful to build educational resources around GitHub and Bioconductor.

I would strongly up-vote for tackling this problem with some priority.

[2020-09-25 12:43] mtmorgan commented on #17
FWIW a straightforward solution is to make the README a symbolic link to a relevant vignette. Another approach is to use a github action to create the README.md from a vignette (modifying https://github.com/r-lib/actions/tree/master/examples#render-readme; implemented (poorly) at https://github.com/Bioconductor/Gen3/blob/master/.github/workflows/render-vignette-as-readme.yaml)

If this comment htt

[2020-09-26 10:33] mblue9 commented on #17
Thanks for the suggestions! They are interesting I hadn't thought of trying things like that.

I guess that the symlink and github actions methods would require the vignette and README to be identical? With the child method it's quite flexible as you can also have some differences between them. In our case we only have small differences at the moment e.g. including the GitHub actions badge in the

[2020-10-19 16:32] kevinrue opened #106 "Ignore 'renv' files in relevant checks"
I manage project libraries using `renv`, including for package development.

Some `renv` files ultimately crash `BiocCheck`, while also raising some warnings.
See below

[code]

I have worked n a branch that I will submit as PR shortly.

[2020-10-20 18:22] mtmorgan opened #108 "pull request template currently provides little additional value"
The BiocCheck [pull request template](https://github.com/Bioconductor/BiocCheck/blob/master/.github/pull_request_template.md) seems to produce a pull request **WITH A LOT OF SHOUTING** and not much added value at the top (e.g., https://github.com/Bioconductor/BiocCheck/pull/105; https://github.com/Bioconductor/BiocCheck/pull/107) can it be simplified @lcolladotor ?

[2020-10-21 19:43] ChristopherEeles opened #109 "Example errors for S4 generic definitions"
As currently implemented, this package expects exported S4 generics to have runnable examples, since these count towards the 80% of exported methods which require runnable examples.

For generics with no default method, however, this doesn't make sense. If you are just defining the generic, then it should not need an example. The same is true of the @return tag, since for some generics the return

[2020-10-21 20:03] mtmorgan commented on #108
@lcolladotor can you provide a screenshot or ... that illustrates what a pull request under your revision will look like? For instance there is a reference to 'currently' and 'May', which doesn't seem correct...

[2020-10-21 20:15] lcolladotor commented on #108
Well, the PR removes the YAML lines that add the black bolded text that you found of no real value **. So it only leaves the lines like

![image](https://user-images.githubusercontent.com/2288213/96776993-bb76cc80-13b7-11eb-9773-77b42a8a83f7.png)

taken from https://github.com/Bioconductor/BiocCheck/pull/105. To provide a true screenshot, I would need to fork my already existing fork a second time

[2020-10-21 20:24] mtmorgan commented on #108
And the mention of May, 2020? Is that necessary / useful?

[2020-10-21 20:26] lcolladotor commented on #108
Ahh, you want to further edit the text? I only thought you wanted to drop all the bold font.

Sure, let me add a small commit to the PR to delete `(currently in May 2020 that would be Bioconductor 3.12)`.

[2020-10-23 17:11] #108 closed, assigned to nobody

[2020-10-27 12:50] LiNk-NY commented on #109
Hi Christopher, @ChristopherEeles

I usually do something like this in roxygen2 to document them.
Meaning I combine the generic documentation with the methods and include examples.
https://stackoverflow.com/questions/24246594/automatically-document-all-methods-of-an-s4-generic-using-roxygen2

Best,
Marcel

[2020-10-27 12:50] #109 closed, assigned to nobody

[2020-11-02 14:12] mtmorgan opened #112 "Check for licenses that restrict use to academic-only"
For instance `CC BY-NC 4.0` and `CC BY-NC-ND 4.0` as errors; `File: LICENSE` as NOTE (requiring manual review).

[2020-11-03 19:39] lshep opened #113 "Add dependency check"
warnings if too many dependencies

[2020-11-04 16:09] lshep opened #114 "Check for watched tags on support site"
check that maintainer is watching their package -- new api call

[2020-11-12 13:45] lshep commented on #112
Addressed in https://github.com/Bioconductor/BiocCheck/commit/3c111881097ffab24059daef613f1627dfb74a9e

[2020-11-12 13:45] #112 closed, assigned to nobody

[2020-12-02 19:07] vjcitn opened #118 "problem checking when a dependent is attached"
It may be unlikely for BiocCheck to be used when numerous packages are
loaded.  When 'programmatically' checking a collection of packages,
it has happened.  I wonder whether
the error seen below can be avoided.
[code]

[2021-01-20 02:21] hpages opened #119 "NOTE: License 'LGPL (>= 3)' unknown; licenses cannot restrict use"
Running `R CMD BiocCheck` on the [RiboDiPA package](https://github.com/Bioconductor/Contributions/issues/1741) (version 0.99.19) produces the following note:
[code]

Bioconductor has plenty of packages (more than 3 dozens) that have LGPL-3 or LGPL (>= 3) in their `License` field and that's fine. More generally speaking LGPL is notorious for being one of the most permissive license there is, whatev

[2021-02-19 17:57] LiNk-NY commented on #78
@lshep Hi Lori,
Have we removed this in 3.13?

[2021-02-19 17:59] lshep commented on #78
@LiNk-NY Not yet.  I haven't had time to go through and remove and accurate test

[2021-03-02 21:28] anhtr commented on #17
I got similar issue when using BiocCheck in GitHub Action. It took me a few days to figure out what's wrong. I thought there's a problem with the library call check. It seemed due to the fact that I used `child =` in vignettes and readme. I wish there's a way to skip that check. Right now the parseFiles call will be executed regardless of any argument in BiocCheck, and it's not very clear why one

[2021-03-10 14:13] Jiefei-Wang opened #120 "Error in checking man page documentation"
Hi,

Here is a (possibly) simple error I got when I was running `BiocCheck::BiocCheck()`
[code]
It looks like there is a length restriction on `sprintf`. Since I have over 500 functions without examples, it hits this uncommon limit. The BiocCheck version I'm using is `1.27.2` and here is my R session

[code]

Cheers,
Jiefei

[2021-03-10 14:22] lshep commented on #120
huh... well that's good to know ....

[2021-03-10 14:27] mtmorgan commented on #120
Probably one would like to print the first 6 and say 'and xxx other pages'

[2021-03-10 22:20] hpages commented on #120
Also `sprintf()` is used indiscriminately here even when there is nothing to format:
[code]
If `BiocCheck:::.msg()` receives a single argument via `...`, then there is nothing to format so you can skip the call to `sprintf()`.

[2021-03-19 19:40] LiNk-NY commented on #17
See #121

[2021-03-19 19:40] LiNk-NY commented on #54
See #121
@mjsteinbaugh

[2021-03-19 19:57] mjsteinbaugh commented on #54
Awesome thanks @LiNk-NY !

[2021-03-19 19:57] #54 closed, assigned to nobody

[2021-04-03 19:04] hpages opened #122 "Add check for exclusion of 'tests' folder via .Rbuildignore"
`BiocCheckGitClone("mypackage")` should raise an error if **mypackage** contains an `.Rbuildignore` file that excludes the `tests/` folder.

[2021-04-05 16:05] LiNk-NY commented on #119
I think it's better to err on the side of caution rather than assume an unknown license does not restrict use.
We can update the list of accepted licenses as they become known.
Perhaps this should be set to Restrictive == "no" in the database? @lshep?

[2021-04-06 20:17] #64 closed, assigned to mtmorgan

[2021-04-06 20:55] LiNk-NY commented on #122
Resolved in 1.27.8 4e9f495

[2021-04-06 20:55] #122 closed, assigned to nobody

[2021-04-09 20:23] LiNk-NY opened #125 "flag `stop("error: ...")` type calls"
Suggested by Hervé and seen in many package reviews.

[2021-04-10 07:10] hpages commented on #119
If a licence is unknown we can't assume anything. I just find the sequence "License blah blah is unknown; Licenses cannot restrict use" a little strange. Like if the 2 things were connected. It kind of suggests that an unknown license restricts use. But maybe it doesn't, maybe it's just me, in which case all is fine.

Except that yes, LGPL (>= 3) should be set to Restrictive == "no". Thanks!

[2021-04-12 12:15] lshep commented on #119
Yes we should update as they become known.
Yes restrictive=="no"  seems appropriate

[2021-04-12 12:20] lshep opened #126 "Change severity of R dependency"
As discussed on the mailing list perhaps this should be a note rather than a warning.

[2021-04-13 13:01] LiNk-NY commented on #125
See #127

[2021-04-13 14:44] lshep opened #128 "lazydata"
recommend removing lazydata: true if it occurs in the DESCRIPTION.  It is rarely useful and can slow installations.  This should be a NOTE as there are a few occassions where is would be necessary.

[2021-04-14 01:30] #128 closed, assigned to nobody

[2021-04-14 01:31] LiNk-NY commented on #126
291d687d8219d943feeb1be4bec56e1162daab30

[2021-04-14 01:31] #126 closed, assigned to nobody

[2021-04-14 01:32] LiNk-NY commented on #125
eacfe42f3a0cd67d299b10cb9469614d29fa5b6c

[2021-04-14 01:32] #125 closed, assigned to LiNk-NY

[2021-04-14 01:32] #114 closed, assigned to lshep

[2021-04-14 06:05] aljabadi opened #130 "arguments passed to `...` ignored in BiocCheck."
Trying BiocCheck('.', \`--no-check-dependencies\` = TRUE, \`--no-check-vignettes\` = TRUE) interactively I noticed that the dependencies checks are still performed. The apparent problem seems to arise from the fact that args are passed in backticks but the `BiocCheck` function check for `dot[["$(arg-without-backtick)"]]`. Using dots$\`arg\` seems to rectify the issue but not sure if it will have s

[2021-04-14 12:15] lshep commented on #130
Perhaps the documentation needs to be updated? Where did you see the use of the `--`  You can use the different flags by specif icing like so:
[code]

[2021-04-15 06:46] aljabadi commented on #130
That's correct. I used the wrong format for flags, thanks.

[2021-04-15 06:46] #130 closed, assigned to nobody

[2021-04-16 09:43] mblue9 commented on #17
Thanks @LiNk-NY for the PR! I've just been trying it out and it works well locally for me, have tested with BiocCheck 1.27.9 and 1.27.13.

One thing though is it fails with GitHub Actions. here https://github.com/stemangiola/tidybulk/runs/2356663732?check_suite_focus=true#step:24:379
[code]

The R CMD Check passes fine, it's just the BiocCheck. I think it's because our child is in `man/fragments`

[2021-04-20 08:09] hpages opened #131 ""object of type 'closure' is not subsettable" errors"
Running `BiocCheck()` on the **MatrixQCvis** package (https://github.com/tnaake/MatrixQCvis) produces "object of type 'closure' is not subsettable" errors:
[code]
**sessionInfo():**
[code]

[2021-04-20 11:25] lshep commented on #131
I can't reproduce this.

[code]

[2021-04-20 15:50] hpages commented on #131
I see it in your output ;-)

[2021-04-21 15:35] arsenij-ust opened #132 "False-positive error during BiocCheck"
The error `Avoid references to external hosting platforms` during BiocCheck is raised whenever "github" is mentioned in the code.

For an example, please see [cbpManager submission](https://github.com/Bioconductor/Contributions/issues/1975)
and the [build report of the cbpManager](http://bioconductor.org/spb_reports/cbpManager_buildreport_20210421025241.html#malbec2_check_anchor)

Best regards

@L

[2021-04-27 15:40] jvelezmagic opened #133 "`BioCheck::BioCheck()` fails when signal keywords are used as function parameters"
## Problem

Running `BioCheck::BioCheck()` fails when found any of the signal keywords as function parameters:

- message
- warning
- stop

I traced the problem to the internal `BioCheck:::.findSignalerRanges()`

[code]

Running the same but calling a function after signal keyword remove the warning and the error.

[code]

In any case, I think that `BiocCheck` should allow you to write code in bot

[2021-04-27 18:36] LiNk-NY commented on #133
Hi Jesús, @jvelezmagic

Thank you for reporting the bug. I've made a change here 3417d5cdd59593cdf6245c4f8fef2645ebe3a20c

Currently, searching through `rlang` condition handlers are not supported by `BiocCheck`.

Best,
Marcel

[2021-04-27 18:36] #133 closed, assigned to nobody

[2021-05-04 15:03] lshep opened #134 "install / install.packages"
I thought we implemented a check that would flag if install or install.packages was utilized.  I had a package that used it in the vignette code but was not picked up by the check.   Packages should never install packages for users.

[2021-05-05 10:35] vjcitn opened #135 "bulletproofing related to "watched tags" and email checking"
This relates to https://support.bioconductor.org/p/9136638/

for which Mike Smith gave the following insight:

The Error in `strsplit(content(response)$watched_tags, split = ",") : non-character argument Calls: BiocCheck ... is.factor -> mysub -> sub -> is.factor -> unlist -> strsplit Execution halted` part looks more like a problem with BiocCheck itself. It's trying to makes sure that you've adde

[2021-05-05 11:38] lshep commented on #135
I had tested it with a valid email and invalid email and with a blank field and with a response.

If I remember correctly some emails are case sensitive and some are not depending on email host so its not like we could change the emails in the database for the support site to match and similar with the git creds app.

[2021-05-05 11:39] lshep commented on #135
But I'll investigate this and see if I can track down why the strsplit is failing -- if anything then there should be a check for a valid entry when entering on the support site and not necessarily a change to the check here in my opinion

[2021-05-05 13:06] vjcitn commented on #135
These are not urgent.  The case-sensitivity seems something the user has to deal with in DESCRIPTION but if the error messages can direct them to this it is a win.

[2021-05-05 13:15] lshep commented on #135
case-sensitivity is something the user will have to deal with in all of R.   But yes a more informative message would be good

[2021-05-05 15:48] lshep commented on #135
@vjcitn  @Natay    Okay.  traced it back.   The API email check is not case sensitive so when BiocCheck does the verification using the core team email it deems both  bioconductorcoreteam@gmail.com  and  bioconductorcoreTeam@gmail.com as the same valid email.   However the api check for the watched tags is case-sensitive --  so the valid email produces an empty watched tags
[code]
While the invali

[2021-05-05 15:50] lshep commented on #135
I could change the watched tags list to catch the later case -- but not sure which is better

[2021-05-05 15:59] Natay commented on #135
We can fix it on the api side but email checks should be case sensitive since the watched tags are as well ( we can also make both case insensitive ), either way  we will return a 404 response for invalid emails.
BiocCheck can validate the status_code to check for errors.

[2021-05-05 16:03] lshep commented on #135
yes I think if the git api and R is all case sensitive than we would probably want case sensitive as well --  I opened the issue that is linked above.  Keep me posted and when it is implemented I will have updated tests and checks in the BiocCheck code.

[2021-05-05 16:12] lshep opened #136 "Vignettes should always be checked regardless of package type"
In a package I'm reviewing the vignette checks seemed to be skipped
And the formatting seems to be off with regard to .Rbuildignore check addition?

[code]

[2021-05-05 16:23] LiNk-NY commented on #136
Hi Lori, @lshep

It looks like it is a bug in `Checking vignette directory...`:

https://github.com/Bioconductor/BiocCheck/blob/fa35fc7b70eb48e1aea04cc6cb618505e8a2d4de/R/BiocCheck.R#L231-L233

The `handleCheck("Checking vignette directory...")`  line should be outside of the conditional. I can fix this.

Best,
Marcel

[2021-05-05 16:25] lshep commented on #136
Thanks!

[2021-05-05 16:26] lshep commented on #136
I think we want to check all packages for a vignette right?    Now that I think about it I changed the code so that infrastructure packages have to have vignette and not necessarily this case where its a non software.

[2021-05-05 16:41] LiNk-NY commented on #136
Yes, data packages should have minimal vignettes showing how to pull down the data at least...

[2021-05-05 17:03] vjcitn commented on #135
@Natay thanks -- i agree that BiocCheck needs to process the status_code.  I think it should be possible for BiocCheck to tell the BiocCheck user what has gone wrong and make a suggestion.

[2021-05-05 17:19] #136 closed, assigned to LiNk-NY

[2021-08-13 20:12] LiNk-NY commented on #131
This error happens because the old code was checking every folder including `inst/` (there's bad code in the `inst` folder but I'm not sure if that is something we want to check).
I've updated the code to only look at R files and vignettes.

[code]

<sup>Created on 2021-08-13 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Sessi

[2021-08-13 20:12] #131 closed, assigned to nobody

[2021-09-07 15:07] lwaldron commented on #75
This is coming up in https://github.com/waldronlab/bugsigdbr/issues/19 and IMO, GitHub is the best solution for our use case and ExperimentHub doesn't meet our requirements. The bugsigdb database changes continuously and we want to allow users to reproducibility access data snapshots in two ways:

1) as of a specific date: we have a GitHub Action that updates a data-only GH repo daily, so that it

[2021-09-07 15:13] lshep commented on #75
zenodo is considered an acceptable option in this case.  We don't discourage use of zenodo and package data access through there.
We still would recommend against storing data in github not only with the concern of users deleting data and therefore any package and previous analysis would be non reproducible but also as a level of control against any malicious and harmful downloads.  It is also the

[2021-09-07 15:13] #75 closed, assigned to LiNk-NY

[2021-09-15 14:04] mikelove commented on #78
Just a heads up, I think `usage()` still recommends running from command line:

https://github.com/Bioconductor/BiocCheck/blob/master/R/BiocCheck.R#L63

[2021-09-15 14:49] HenrikBengtsson commented on #79
Great. The added CLI options and function arguments covers my needs. Thxs

[2021-09-15 14:49] #79 closed, assigned to nobody

[2021-09-17 15:51] vjcitn opened #137 "is.na(fpath) can lead to a length>1 vector in an if statement"
https://github.com/Bioconductor/BiocCheck/blob/81a79c6f4873ee63ee1aefd9c423aa65a953ec46/R/util.R#L280

(if multiple vignettes are present)

[2021-09-17 20:32] LiNk-NY commented on #63
I'm closing this. Feel free to re-open if you feel strongly about it.

[2021-09-17 20:32] #63 closed, assigned to nturaga

[2021-09-17 20:33] nturaga commented on #63
I don't ;)

[2021-09-20 18:57] zhiiiyang opened #139 "'make' not found when running `BiocCheck::BiocCheck()`"
Hello, I encountered an error when running `BiocCheck::BiocCheck()`

I also tried the solution mentioned in this issue https://github.com/Bioconductor/BiocCheck/issues/38 but it doesn't work.

[code]

Here is the session info

[code]

[2021-10-06 14:17] jorainer opened #140 "Integrate "available" to check for "valid" package names"
Would be nice to integrate the [available](https://github.com/r-lib/available) package as an additional check to `BiocCheck` to check against *problematic* package names.

[2021-10-07 17:23] LiNk-NY commented on #139
Hi Zhi, @zhiiiyang
Do you have Rtools for Windows installed?
Please see https://cran.r-project.org/bin/windows/Rtools/
Follow the directions there and make sure that it is in your PATH.
Best,
Marcel

[2021-10-07 17:46] zhiiiyang commented on #139
Yes, I figured it out later. Thanks!

[2021-10-07 17:46] #139 closed, assigned to nobody

[2021-10-09 11:32] vjcitn opened #142 "Set all Renviron.bioc env variables"
with option to unset.  these should all be set by default for the BiocCheck run to maximize sensitivity

https://bioconductor.org/checkResults/3.14/bioc-LATEST/Renviron.bioc

[2021-10-12 18:56] hpages commented on #142
Most importantly I think that we want to set these variables when running `R CMD build` and `R CMD check` on the SPB. Setting them when running **BiocCheck** wouldn't achieve that. In other words, this is an SPB issue, not a BiocCheck one.

[2021-10-12 19:00] lshep commented on #142
The SPB list the file of all the variables set for it and advertises it on the repo
https://github.com/Bioconductor/Contributions#r-cmd-check-environment

[2021-10-13 10:41] pkrog opened #143 "Roxygen2 generated .Rd files give NOTEs about bad formatting"
I have been annoyed for a long time by formatting NOTEs (indentation and line width)  concerning `man/*.Rd` files generated roxygen2.
Do we agree that, since those files are generated, no NOTEs should be displayed?
I am willing to make the necessary corrections, so if you are OK, I will propose a pull request.

[2021-10-13 12:12] lshep commented on #143
No, at least I don't agree.  While they are recommendations, indentation and line width are good practice and make code more readable.  Especially the line width that is suggested so there is not a page run off when displayed online. One suggested alternative is to include linebreaks accordingly.

[2021-10-13 12:25] pkrog commented on #143
With manually written code, yes, but what is the point with generated files? We do not read them or review them.

[2021-10-13 12:27] mtmorgan commented on #143
I think the roxygen man pages follow formatting in the R file? So in the R file you have, e.g., long, unwrapped lines?

[2021-10-13 12:42] vjcitn commented on #143
[code]
This is from the submission biodbKegg.  I will dig in a little further.

[2021-10-13 12:45] vjcitn commented on #143
It looks like R6 class documentation generation is involved
[code]

[2021-10-13 12:48] vjcitn commented on #143
In the R folder
[code]

[2021-10-13 12:51] vjcitn commented on #143
in man folder
[code]
should BiocCheck be doing this?

[2021-10-13 12:54] lshep commented on #143
Seems like a potential bug in the output shown that should be corrected.

 But I still would argue we do not want to remove this check; that it should be implemented over the documentation and code.

[2021-10-13 13:13] pkrog commented on #143
I am not suggesting to remove it, but just to do not run the check on the generated files (by checking if the first line contains "% Generated by roxygen2: do not edit by hand").
Moreover this feature could be an option in BiocCheck.
Also, if the bad indentation and long lines are not usual in roxygen2 but restricted to R6 Class doc generation, we could write an issue to the maintainers.

[2021-10-13 17:42] LiNk-NY commented on #143
This is more of an issue for `roxygen2` where the automatic indentation should be configurable by the user.

[2021-10-13 18:38] LiNk-NY commented on #142
I think this refers to the errors that were observed in https://github.com/Bioconductor/BiocCheck/pull/141
Setting these env variables during `BiocCheck` would not add as much
(checking these only for the code that is run in BiocCheck) as when running `R CMD check`
as Hervé pointed out.
It doesn't hurt to add a note about these environment variables in the output so to increase awareness
among com

[2021-10-29 16:54] bschilder opened #144 "`there is no package called ‘build’`"
When running `BiocCheck::BiocCheck()` within  the current Bioconductor docker container (currently v3.14), I get the following error:
[code]
See the [GHA workflow report here](https://github.com/neurogenomics/orthogene/runs/4048982495?check_suite_focus=true#step:6:4995).

In [this container](https://hub.docker.com/layers/bioconductor/bioconductor_docker/latest/images/sha256-d274974ec781ce48642f8cb

[2021-10-29 18:13] LiNk-NY commented on #144
Hi Brian, @bschilder
This depends on the setup you are using.
Make sure that the `getwd()` is at the base package directory in order to run `BiocCheck::BiocCheck()`, otherwise you would have to call it as `BiocCheck::BiocCheck("packagename")` if you are one directory below the package directory.
Best,
Marcel

[2021-10-29 21:06] bschilder commented on #144
Thanks for the quick reply @LiNk-NY.

Here is the workflow that I used. You can see that the package I'm building/testing (in this case `orthogene`) is first checked out from GitHub.
https://github.com/neurogenomics/orthogene/blob/b9cb5a8d9212e648a0ef1303680ac598eae3dccb/.github/workflows/dockerhub.yml

Here is the Dockerfile that was run. Within this file, the checked out package is  then copied

[2021-10-29 21:16] LiNk-NY commented on #144
Hi Brian,

Sorry, this is not really a `BiocCheck` issue but more of a set up issue.
The package will run if you run this locally.

I can recommend that you use the `biocthis` to set up the check instead.

Best regards,
Marcel

[2021-10-29 21:16] #144 closed, assigned to nobody

[2021-11-01 15:56] bschilder commented on #144
Possibly, but I do want to first make sure `BiocCheck` isn't failing due to some unstated dependencies (R packages or Linux).

`biocthis` is a great place to start; I actually based my workflows off of this with some modifications to improve flexibility (i.e. not hard-coding bioc/R versions and package names). However they don't provide templates for Dockerfiles, which is the main issue here.

[2021-11-01 16:29] bschilder commented on #144
# Update

The issue `there is no package called ‘build’` error produced by `BiocCheck` persists in the devel version (v3.15) of the official Bioconductor docker container .

https://github.com/neurogenomics/orthogene/runs/4069981383?check_suite_focus=true

[2021-11-01 16:45] LiNk-NY commented on #144
Hi Brian,

Please provide a [minimally reproducible example](https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example) where `BiocCheck` is shown to fail with this error.

Otherwise, you are responsible for debugging the GHA environment / customized script being used.

Best regards,
Marcel

[2021-11-01 20:05] bschilder commented on #144
# Issue

`BiocCheck` sometimes produces the error `there is no package called ‘build’`.

# reprex

## reprex 1

Fork the repo in the [the original reprex](https://github.com/Bioconductor/BiocCheck/issues/144#issue-1039759378)  and make a push.

## reprex 2

Alternatively, you could copy and paste the [GHA workflow code provided in the original reprex ](https://github.com/neurogenomics/orthogene/bl

[2021-11-01 20:27] mtmorgan commented on #144
Does `desc::desc_get_field()` provide advantages (relevant in the context of `.get_package_name()`) over `read.dcf("DESCRIPTION", fields = "Package")[[1]]`?

FWIW a simpler reproducible example is

[code]

[2021-11-01 20:29] bschilder commented on #144
@mtmorgan I hadn't heard of `read.dcf`, but not requiring the `desc` dep would be great! I'll try implementing that instead in my PR. Thanks for the helpful tip.

[2021-11-01 23:27] LiNk-NY commented on #144
Thanks Brian,
We've made discovering the package name more robust. See the change in 9f72c38.
Best,
Marcel

[2021-11-02 00:38] bschilder commented on #144
@LiNk-NY thanks for implementing this quickly.

Did you try rerunning the reprex above?
Both [mine](https://github.com/Bioconductor/BiocCheck/issues/144#issuecomment-956549110) and [that of](https://github.com/Bioconductor/BiocCheck/issues/144#issuecomment-956565328) @mtmorgan  still seem to produce the same error as before.

I made sure to upgrade first (as well as reset my R session):

[code]
[c

[2021-11-04 19:34] bschilder commented on #144
# Update

It appears some additional changes were made since my previous post.

## Persisting error

I just tested this newest version of `BiocCheck` (1.31.9) with @mtmorgan's [reprex](https://github.com/Bioconductor/BiocCheck/issues/144#issuecomment-956565328) and they still appear to be failing with the original error message.

Were the unit tests implemented? @LiNk-NY

## New `BiocCheck` behavi

[2021-11-04 21:37] LiNk-NY commented on #144
Hi Brian, @bschilder

This has been documented in the vignette. See the [Build System Compatibility Checks](https://bioconductor.org/packages/devel/bioc/vignettes/BiocCheck/inst/doc/BiocCheck.html#build-system-compatibility-checks).

No, you shouldn't avoid `BiocCheck` and it comes down to how the set up is handled.
It's probably a good idea to copy the package directory over to the container and

[2021-11-04 23:02] bschilder commented on #144
Great! Thanks for adding the link here. Just wanted to make sure users know the outcome of this if they encounter similar error messages in the future. I think if they read only up to the point where the issue was marked as resolved they might mistakenly think that `BiocCheck` now only relies on the DESCRIPTION file for deriving the package name (instead of the working directory name), and allows

[2021-11-04 23:25] LiNk-NY commented on #144
I've changed the code where the tarball / directory was being used to infer the package name and added code to check the `DESCRIPTION` file within the tarball / directory. So it should only rely on the `DESCRIPTION` file to get the package name.

Your current setup triggers a separate check where the package directory does not match the package name as found in the `DESCRIPTION` field. This can be

[2021-11-22 14:45] lshep opened #146 "BiocCheck version number check"
They are right.  It does not show.
https://github.com/Bioconductor/Contributions/issues/2430

Should the version number checks be on by default?

[2021-11-22 15:36] LiNk-NY commented on #146
Thanks. Perhaps we should have a `--new-submission` flag/option?
The check would include version number and support site registration for starters.

[2021-11-22 15:39] lshep commented on #146
It should already have that built in.  But I think its off by default

[2021-11-22 15:48] LiNk-NY commented on #146
Ah I see it now. Perhaps the recommendation in the comment should be to run
``BiocCheck::BiocCheck(`new-package` = TRUE)`` so that others who are using `BiocCheck`
with GHA don't get the new package checks by default.

[2021-11-22 15:49] lshep commented on #146
could do that too.  And also update the contributions.bioconductor.org instructions for submitting packages for this too.

[2021-11-22 15:50] lshep commented on #146
I can update the comments produced by the issue bot.

[2021-11-22 17:05] LiNk-NY commented on #146
I've also moved the bioc-devel and support site subscription checks to the new-package checks.

[2021-11-22 17:07] lshep commented on #146
I don't think they should just be for new packages -- its important that any maintainer is on the bioc-devel and support site -- if maintainers have changed emails or something its good to report

[2021-11-22 17:11] LiNk-NY commented on #146
Sounds good. I will change it back or create a new check with wording more relevant to current maintainers.

[2021-11-22 23:14] LiNk-NY commented on #146
I've reverted the change. Thanks. Closing the issue.

[2021-11-22 23:14] #146 closed, assigned to nobody

[2021-12-10 00:16] LiNk-NY commented on #140
I created an `avail` branch for testing.
https://github.com/Bioconductor/BiocCheck/tree/avail/
It's still a work in progress but the output looks a bit unwieldy.
I may decide to drop the functionality if the output does not look
amenable to `BiocCheck`'s style of output.

[2022-01-13 19:20] #132 closed, assigned to nobody

[2022-01-13 19:21] #140 closed, assigned to nobody

[2022-01-13 21:32] #118 closed, assigned to nobody

[2022-01-26 20:48] lcolladotor opened #148 "BiocCheck 1.31.29 is not finding the dependencies when you have multiple libraries (libPaths)"
Hi @LiNk-NY,

I'm running into an issue with `BiocCheck` version 1.31.29 where it fails to install a package, like at https://github.com/LieberInstitute/spatialLIBD/runs/4956510109?check_suite_focus=true#step:25:27. I think that it's because it's only finding one of the multiple libraries where packages are installed which you can see at https://github.com/LieberInstitute/spatialLIBD/runs/49565101

[2022-01-26 21:26] LiNk-NY commented on #148
Hi Leo! @lcolladotor
Yes, thanks for catching this. That change should fix the issue.
It slipped through the cracks :)
Best,
Marcel

[2022-01-26 23:05] lcolladotor commented on #148
Ahh, no worries! I tested it at https://github.com/LieberInstitute/spatialLIBD/commit/f3e7bfeac65df51fc3bdaf37e3e3507ffc7cd749 (and well https://github.com/LieberInstitute/spatialLIBD/commit/f9591c700e0bb8cd8a873ac5a70b9bd0807dd2d9) and it works again ^^ as you can see at https://github.com/LieberInstitute/spatialLIBD/runs/4957640979?check_suite_focus=true#step:25:1.

Thanks again Marcel!

[2022-01-26 23:05] #148 closed, assigned to nobody

[2022-01-28 12:38] vjcitn opened #149 "too many reports of = for assignment"
http://bioconductor.org/spb_reports/LinTInd_buildreport_20220111081005.html

Search for `Avoid using`

could this be compacted?   Seems like any of the `Avoid` events could have a count of events and some example line numbers but does not need to be exhaustive.

[2022-02-02 05:22] mtmorgan opened #150 "`cat()` is appropriate inside S3 print methods"
BiocCheck generates the following note

[code]
from https://github.com/mtmorgan/cellxgenedp/blob/3f9a195160faa22cb0e48469b470f22c78925df8/R/db.R#L76-L87, but `cat()` is appropriate in this S3 print method.

[2022-02-04 00:47] LiNk-NY commented on #150
Closed in 727dad4a47e8382debf2f36cdd30d216d3404813

[2022-02-04 00:47] #150 closed, assigned to nobody

[2022-02-04 00:57] LiNk-NY commented on #149
This issue is systemic to the way the code is written (with `for` loops) and there is no easy way to reduce the number of reports outside of doing it for this single instance (`=`) though other checks will remain unaffected. A fix is readily possible on the `output` branch.

[2022-02-04 16:58] #137 closed, assigned to nobody

[2022-03-28 12:55] lmweber opened #152 "Warning when including BiocManager code in vignette"
Currently if any `BiocManager` code is included in a package vignette, `BiocCheck` returns a WARNING, e.g. as follows:

[code]

I have tried this both with `eval=FALSE` in the RMarkdown code block, and with commenting out the `BiocManager` line inside the code block.

Possibly `BiocCheck` is noticing any string with `BiocManager` included in the vignette, although I'm not completely sure.

We noti

[2022-03-28 14:05] LiNk-NY commented on #152
Hi Lukas, @lmweber

Thank you for reporting.
This has been fixed in the branch of `BiocCheck` that will soon be merged to the default branch.
If you'd like to test, see the `output` branch.

Best,
Marcel

[2022-03-28 14:56] lmweber commented on #152
Thank you!

[2022-04-12 19:40] hpages opened #154 ""Checking Package Dependencies" emits an obscure warning with BiocCheck 1.31.36"
[code]
I'm not sure how to interpret this warning. Will probably confuse contributors and most reviewers.

Also note that the use of caps is inconsistent with other checks:
[code]

Thanks,
H.

[2022-04-12 19:57] hpages opened #155 ".RData files not caught by BiocCheckGitClone()"
[code]
I can't think of any situation where the presence of a hidden `.RData` inside a package is legit. Probably always there by mistake. Such a file can actually get in the way by polluting a session started from within the package source tree (doing this is not uncommon):
[code]
Thanks,
H.

[2022-04-12 20:23] LiNk-NY commented on #154
This is an artifact of R-devel and it is fixed in the `output` branch which will be merged soon.
https://github.com/Bioconductor/Contributions/issues/2585#issuecomment-1097110577

Best,
Marcel

[2022-04-12 20:24] LiNk-NY commented on #154
I'll leave it open until it is merged.

[2022-04-18 15:47] LiNk-NY commented on #149
closed in 16cf48c667858f9ce7dadefe8f69140c9efcfd91

[2022-04-18 15:47] #149 closed, assigned to nobody

[2022-04-18 15:47] LiNk-NY commented on #152
Closed in 16cf48c667858f9ce7dadefe8f69140c9efcfd91 1.31.37

[2022-04-18 15:47] #152 closed, assigned to nobody

[2022-04-18 15:48] LiNk-NY commented on #154
closed in 16cf48c667858f9ce7dadefe8f69140c9efcfd91

[2022-04-18 15:48] #154 closed, assigned to nobody

[2022-04-18 15:48] LiNk-NY commented on #155
closed in 16cf48c667858f9ce7dadefe8f69140c9efcfd91

[2022-04-21 20:41] LiNk-NY commented on #120
Should be resolved in https://github.com/Bioconductor/BiocCheck/commit/a3118735b080794e9b7e911cc75214ec6e63301a

[2022-04-21 20:41] #120 closed, assigned to nobody

[2022-04-23 01:10] hpages commented on #155
http://bioconductor.org/spb_reports/RAREsim_buildreport_20220422154701.html

[2022-04-23 01:17] hpages commented on #155
Hi Marcel,

It seems that with **BiocCheck** 1.31.38, the presence of files with the `.RData` _extension_ triggers an error. See for example http://bioconductor.org/spb_reports/RAREsim_buildreport_20220422154701.html

This is of course too extreme since those files are common and perfectly legit.

What I was suggesting instead is that files _named_ `.RData` (which are hidden files) would be signal

[2022-04-25 14:16] lshep opened #156 "BiocCheckGitClone output"
Opening an issue so you can give updates where we are at with this @LiNk-NY .  Without keeping track of details like BiocCheck users are confused by the BiocCheckGitClone output.  At the very least bad files for this check should be printed out rather than excluded.  We used to print out the files but now we don't and there have been several in the last week that inquire how to find these files.

[2022-04-25 17:42] #155 closed, assigned to LiNk-NY

[2022-04-25 21:40] LiNk-NY commented on #156
Hi Lori, @lshep

This was taken care of in d9aecdb694bafb7824fe9a6e221af6428d0999a4
You should see all the files now.

Best,
Marcel

[2022-04-25 21:40] #156 closed, assigned to LiNk-NY

[2022-04-25 21:45] LiNk-NY opened #157 "migrate documentation page links to contributions.bioconductor.org"
There are a few places where the old documentation pages are linked, e.g.,
http://bioconductor.org/developers/how-to/unitTesting-guidelines/

These need to be updated

[2022-05-01 23:43] vjcitn opened #158 "can crash if BiocPkgTools attached"
in a checkout of BiocFileCache, use BiocCheck::BiocCheck()
[code]

[2022-05-03 15:28] LiNk-NY commented on #158
I've been testing this with `callr` and it looks like it might work:

[code]
This will avoid interference with your current session.

Best,
Marcel

[2022-05-03 17:06] LiNk-NY commented on #158
See the https://github.com/Bioconductor/BiocCheck/tree/callr branch

[2022-05-31 13:45] lshep opened #159 "Detailed Information does not seem correct"
I'm reviewing a package and ran BiocCheck locally

[code]

I wanted to verify and check say
`* NOTE:  Avoid 'cat' and 'print' outside of 'show' methods`

When I go into the directory and check the detailed log file  `~/PkgReviews/octad.BiocCheck$ cat 00BiocCheck.log `  The locations given in the check are not accurate

[code]

Just taking the cat in the first file the line and column locations are

[2022-05-31 14:52] LiNk-NY commented on #159
This should be fixed 626537053164be3c1e9b3cd92e39b4696f4feca9
Thanks for reporting!

[2022-05-31 14:52] #159 closed, assigned to nobody

[2022-05-31 16:51] lshep opened #160 "description length check / false positive"
Not sure how this is determined but I'm getting a false positive note on the description length for factR that I am reviewing. Truncated but DESCRIPTION included:

[code]

It is technically three sentences but I am getting the NOTE
[code]

[2022-05-31 20:41] LiNk-NY commented on #160
Hi Lori, @lshep
It looks like the sentence splitter was only seeing alphanumeric characters and missed the `(GTF).`. I fixed it in 1.33.5.
643e8b58442bdf3b2f32618be573713eedb59a26
Best,
Marcel

[2022-05-31 20:41] #160 closed, assigned to nobody

[2022-05-31 21:03] hpages commented on #160
Counting natural language sentences is a harder problem than it sounds: https://stackoverflow.com/questions/12602652/how-to-count-the-number-of-sentences-in-a-text-in-r

[2022-05-31 21:15] LiNk-NY commented on #160
Ah, thanks for that! It looks like that is the code that was originally used. Hopefully, maintainers won't use "Dr. Name" in their `DESCRIPTION` :)

[2022-05-31 22:17] hpages commented on #160
Yeah hopefully, but it's not uncommon for packages to use things like `e.g.` or `i.e.` or to cite papers in their description. All these things tend to generate false positives. E.g. the **BRAIN** package:
[code]

Some interesting stats:
[code]

[2022-06-01 01:15] LiNk-NY commented on #160
Yes, it looks quite involved to parse these out.
But I think citing a paper is better than the two sentences they provide so I can live with this result.

[2022-06-01 01:51] mtmorgan commented on #160
Just for fun, I followed the link in @hpages comment. It turns out that posts from 2012 may sometimes no longer be useful & there is a link, in the comment to the top-voted answer, to answers updated in 2014. The answer using qdap, produces
[code]
so not much help (but a lot of packages installed!). Using {openNLP} we get
[code]
Which is pretty neat (but requires rJava / Java, which was a little c

[2022-06-01 13:44] LiNk-NY commented on #160
It was a fair warning at http://blog.thegrandlocus.com/2012/06/The-elements-of-style :grin:

[2022-06-02 17:18] #157 closed, assigned to nobody

[2022-06-06 11:45] lshep opened #161 "T/F false positive"
See SimBu where it is flagging `adata$T`  as T/F check

https://github.com/Bioconductor/Contributions/issues/2627

[2022-06-06 16:33] LiNk-NY commented on #161
It's hard to tease these out and is mostly a rare occurrence. I've responded to the issue with some recommendations.

[2022-06-07 10:03] mtmorgan opened #162 "Spacing after end-of-sentence in some messages"
These lines https://github.com/Bioconductor/BiocCheck/blob/2ce2cafe34373a95532dca40074467b47dd57287/R/checks.R#L1610-L1611 don't insert a space correctly between the first and second sentences of the note
[code]
There are other examples, e.g.,
[code]

[2022-06-07 19:11] #162 closed, assigned to nobody

[2022-06-16 19:29] #100 closed, assigned to nobody

[2022-06-23 04:31] ChristopherEeles commented on #161
This is also happening in `PharmacoGx` for the string:
'Pr(>F)'

[2022-06-23 16:16] #161 closed, assigned to nobody

[2022-06-23 16:19] LiNk-NY commented on #161
Hi Christopher, @ChristopherEeles
It was actually catching this bit of code:
[code]
To avoid this in the future and for more robust coding (and avoid fuzzy matching) use the `[[` extractor, e.g., `rrc[["F"]]`.
Fixed in version `1.33.10` 715b68f

[2022-06-23 16:21] ChristopherEeles commented on #161
Awesome thanks. I did not write that code, we have accumulated a monstrosity of legacy code that I am slowly refactoring.

Best,
Chris

[2022-08-11 07:16] zeehio commented on #119
The problem here is that `BiocCheck` does not parse the `License` field in the `DESCRIPTION` file according to the specifications from https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Licensing

Because of a lack of a better parsing, a License value such as `LGPL (>= 3)` is not matched against any of the licenses from the license database:

![imatge](https://user-images.githubuserconte

[2022-08-11 10:29] vjcitn commented on #119
Perhaps the wording of this message
[code]
can be changed to be more informative and prescriptive.

If we can't recognize the license token used in DESCRIPTION, it could certainly be a warning event.
[code]

[2022-08-11 14:02] zeehio commented on #119
Since BiocCheck already seems to use some private functions from the tools package I could provide a pull request that uses `tools:::analyze_licenses` to parse and see if it has the `restrict_use` flag or not.

But since I don't maintain BiocCheck I don't know if you would be happy with such implementation

[2022-08-11 14:22] vjcitn commented on #119
Should we try to get that analyze_licenses function exported?

[2022-08-11 15:30] LiNk-NY commented on #119
Thanks Sergio, @zeehio
It would be great if `tools:::analyze_licenses` could be officially exported from the `tools` package.
It would simplify our code.

I've created a branch for this at https://github.com/Bioconductor/BiocCheck/tree/analyze_licenses

[2022-08-23 08:04] snikumbh opened #165 "BiocCheck failed with error at coding practice check stage"
Hi,

I get this error when running `BiocCheck::BiocCheck()` on a package that is currently under development. The error specifically occurs when `checking coding practice ...` . See output below, along with the `traceback()`. Complete session info is at the bottom.

I understand that it is likely that the ellipsis as an argument in a pkg function is causing this. But am not sure if this needs chan

[2022-08-24 04:58] snikumbh commented on #165
Hi Marcel, thanks for the quick response.

For some reason, even with `debug=TRUE` and explicitly setting `checkDir`, the `<package_name>.BiocCheck` folder was not created until a successful run. So, I had to take a brute force approach to identify the cause. Fortunately, it was not too much work.

Apparently, this error was caused due to the `lapply` statement in the following:
[code]
Commenting

[2022-08-29 12:34] lshep opened #167 "Check of individual file sizes not accurate?"
@LiNk-NY
We are moderating a package HDO.db.   In the extdata folder there is an sqllite file that is 6.1 M

[code]
BiocCheck does not give the WARNING of files over 5M in size

[code]

I cannot ingest the package because of git's limitation on file size which is why the individual check is so important and the ingestion script will not let me proceed

[code]

@vjcitn   follow up to what I was say

[2022-08-29 18:43] #165 closed, assigned to nobody

[2022-08-29 18:56] LiNk-NY commented on #167
Hi Lori, @lshep
I don't think it was written to give a warning for annotation packages. Do you want this to change?

https://github.com/Bioconductor/BiocCheck/blob/9928a7c7ff90f9925b31bcd481d66064874060c4/R/checks.R#L232-L249

As explained in the vignette:

https://github.com/Bioconductor/BiocCheck/blob/9928a7c7ff90f9925b31bcd481d66064874060c4/vignettes/BiocCheck.Rmd#L169-L173

[2022-08-29 20:23] #158 closed, assigned to nobody

[2022-08-29 20:35] #134 closed, assigned to LiNk-NY

[2022-08-29 20:45] lshep commented on #167
Ah that makes sense.  I think it should be changed. We can't for git and we want large files to be hub hosted or server based at least that is the way we've been headed. I think the only software was legacy from when we had traditional experiment and annotation packages.
But am open to a second opinion on this @vjcitn

[2022-08-31 19:21] nileshpatra opened #168 "Tests failing with knitr 1.40"
Hi,

In bioccheck 1.32.0 (current bioconductor release) tests are failing with knitr 1.40 (both in debian package, and bioc release)
Command: `R --no-save < runTests.R`

Relevant log (hopefully):

[code]

Full log - https://ci.debian.net/data/autopkgtest/testing/amd64/r/r-bioc-bioccheck/25509446/log.gz

I am having a hard time parsing the output properly and inspecting what went wrong, and hence w

[2022-08-31 19:48] #168 closed, assigned to nobody

[2022-10-11 03:38] Shians opened #171 "Warning in nzchar(fpath) && !is.na(fpath)"
I get this error when I use BiocCheck on my package NanoMethViz. As far as I can tell this is an error in BiocCheck code found in `getDirFile()`. As far as I can tell this warning can't happen because fpath should be guaranteed to be length 1, though I couldn't work out how to hook anything into the function to check because BiocCheck seems to do something funny with `print()` and `message()` call

[2022-10-11 23:41] #171 closed, assigned to nobody

[2022-11-16 18:49] #102 closed, assigned to nobody

[2022-11-28 04:29] nick-robo opened #179 "Make BiocCheck output legible."
Currently, BiocCheck outputs a bunch of red text which make it very difficult to read and for users to quickly identify what is wrong and what is working as expected.

Is there a specific reason why BiocCheck doesn't implement user-friendly outputs, such as `rcmdcheck` and `devtools`, by using the `cli` package?

I would be happy to put some work into this if it's not something that was already co

[2022-11-28 11:50] vjcitn commented on #179
I have had similar concerns.  But I think it would be helpful to look closely at all available functionality and give a clear suggestion on revision -- even before putting the offered work in -- and the offer is truly appreciated.

Here's an example.  The current devel image of GenomicRanges is broken, crashes BiocCheck.  But with a small change to one of the vignettes, I can do

[code]
where R is

[2022-11-28 15:57] vjcitn opened #180 "possible issue with unloadNamespace when running BiocChecks in parallel"
I don't know if it is reproducible and I will try to get back to it, but I am running into this on quite a few packages

[code]